.input {padding-right: 8px;}
.input__text {margin-right:-8px;}
.input_select {margin-right:-8px;}
.input_select .b-input__text {padding-left: 8px;}

.ie-pseudo {
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    zoom:1;
}
.ie-pseudo ins {position: absolute;}
a.pic .ie-pseudo {cursor:pointer;}
.pic {
    behavior: expression(
    this.innerHTML = '<span class="ie-pseudo ie-before"><ins></ins></span>'+this.innerHTML+'<span class="ie-pseudo ie-after"><ins></ins></span>',
    runtimeStyle.cssText += 'behavior: expression("") !important;');
}
.pic ins {
    zoom: expression(
        runtimeStyle.zoom=1,
        runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src="+currentStyle.backgroundImage.split('"')[1]+")",
        runtimeStyle.background=0,
        parentNode
    );
}
.pic .ie-before ins,
.pic .ie-after ins {
     background: url(../img/ico-sprite.png) no-repeat;
     width: 9999px;
     height: 9999px;
}

.button,
.button__text,
.link,
.spinner,
devices-list {
	display: inline;
	zoom:1;
}

.elastic {
background-image: expression(this.runtimeStyle.backgroundImage="none",
this.innerHTML = this.innerHTML+'<span class="ie-gum"></span>');
}
.elastic__item {display:inline;}
.elastic__holder {zoom:1;display:inline;}
.ie-gum {margin-left: 100%;}

.spinner,
.legend-marker,
.devices-list__item-wrapper,
.link,
.button,
.button__text {
    display: inline;
    zoom: 1;
}

.time-period-disabled {
    background-position: 0 -36px;
}
.time-period-parking {
    background-position: 0 -18px;
}

.devices-list a {
    color: black;
}