.b-elastic {
    text-align: justify;
    cursor: default;

    line-height: 0;
}

.b-elastic__holder {
    display: inline;
    line-height: normal;
}

.b-elastic__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.b-elastic:after {
    content:'';
    display: inline-block;
    width: 100%;
}
