h1,
h2,
h3 {
  text-align: center;
}
h1:first-child {
  margin-top: 0;
}
h1 span {
  position: relative;
}
h1 span:after,
h1 span:before,
h1 span:after > .ie-append,
h1 span:before > .ie-prepend {
  content: '';
  position: absolute;
  top: 18px;
  width: 4px;
  height: 4px;
  border: 3px solid #222;
  top: 50%;
  margin-top: -5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
h1 span:before,
h1 span > .ie-before {
  left: -30px;
}
h1 span:after,
h1 span > .ie-append {
  right: -30px;
  margin-top: -2px;
}
.inner-head {
  font-weight: bold;
}
section .inner-head {
  font-size: 18px;
}
section.two-col .inner-head,
section.three-col .inner-head {
  font-size: 15px;
}
.lead {
  font-size: 18px;
  line-height: 24px;
}
.two-col {
  padding: 0;
  padding-left: 460px;
  margin-top: -21px;
}
.two-col > div:first-child {
  float: left;
  width: 90%;
  margin-left: -460px;
}
.two-col:before,
.two-col:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.two-col:after {
  clear: both;
}
.lt-ie8 .two-col {
  zoom: 1;
}
.three-col {
  padding: 0;
  font-size: 0;
  margin-top: -21px;
}
.three-col > div {
  display: inline-block;
  width: 30%;
  padding-left: 5%;
  font-size: 15px;
  vertical-align: top;
  margin-left: -4px;
}
.three-col > div:first-child {
  margin-left: 0;
  padding-left: 0;
}
.lt-ie8 .three-col > div {
  display: inline;
  zoom: 1;
}
.incut-gray,
.incut-white {
  font-size: 13px;
  line-height: 20px;
  margin-top: 34px;
  padding-bottom: 18px;
  background: url(../img/incut-bg.png) right bottom no-repeat;
}
.incut-gray > div,
.incut-white > div {
  position: relative;
  padding: 15px 40px;
  background: #e6e6e6;
  border-left: 4px solid #ae0818;
}
.incut-gray > div:before,
.incut-white > div:before,
.incut-gray > div:after,
.incut-white > div:after,
.incut-gray > div > .ie-append,
.incut-gray > div > .ie-prepend,
.incut-white > div > .ie-append,
.incut-white > div > .ie-prepend {
  content: '';
  background: white;
  border: 3px solid #ae0818;
  width: 6px;
  height: 6px;
  position: absolute;
  left: -8px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.incut-gray > div:before,
.incut-white > div:before,
.incut-gray > div > .ie-prepend,
.incut-white > div > .ie-prepend {
  top: -6px;
}
.incut-gray > div:after,
.incut-white > div:after,
.incut-gray > div > .ie-append,
.incut-white > div > .ie-append {
  bottom: -6px;
}
.incut-white > div {
  background: #f6f6f5;
}
.img-wrapper,
.img-wrapper-with-border {
  margin: 21px 0;
  padding-top: 4px;
  text-align: center;
}
.img-wrapper p,
.img-wrapper-with-border p {
  color: #656664;
  font-size: 13px;
  font-style: italic;
  margin: 12px 0;
}
.img-wrapper-with-border img {
  border: 1px solid #a4a59f;
}
.center-text-wrapper {
  text-align: center;
}
#content ol.green-list li {
  margin-top: 21px;
}
#content ol.green-list > li:before,
#content ol.green-list > li > .ie-prepend {
  content: counter(list) "";
  color: #006b14;
  width: 24px;
  height: 24px;
  border: 3px solid #006b14;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  margin-left: -40px;
  margin-top: -4px;
}
.green-list {
  margin: 42px 0;
}
.green-list b {
  color: #006b14;
}
.quote {
  text-align: right;
  margin-left: 50%;
  font-size: 14px;
  font-style: italic;
  color: #7f7f7f;
}
.quote b {
  display: block;
  font-weight: normal;
  color: #222;
}
