/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 15px;
    line-height: 1.4;
    font-family: Arial, sans-serif;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    outline: none !important;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin: 0.8em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    text-align: center;
}

input:focus {
    outline: none;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}
.fr {
    float: right;
} 

/* ==========================================================================
   custom styles
   ========================================================================== */

.layout {
    background: url(../img/body-bg.jpg) repeat;
    min-width: 1000px;
    }
    .layout__wrapper {
        width: 990px;
        margin: 0 auto;
        }
    .layout__headWrapper {
        padding-top: 2px;
        }
    .layout__head {
        background: #f6eeeb;
        background:-webkit-gradient(linear,left top,left bottom,from(#f6eeeb),to(#e6dbd7));
        background:-webkit-linear-gradient(top, #f6eeeb, #e6dbd7);
        background:   -moz-linear-gradient(top, #f6eeeb, #e6dbd7);
        background:     -o-linear-gradient(top, #f6eeeb, #e6dbd7);
        background:        linear-gradient(top, #f6eeeb, #e6dbd7);

        border-top: 1px solid white;
        border-bottom: 1px solid #c4bebc;
        box-shadow: 0 0 8px rgba(0,0,0,0.25);
        }
    .layout__menu-wrapper {
        margin-top: 15px;
        } 
    .layout__content {
        border-top: 1px solid #ddd4d1;
        border-bottom: 1px solid #ddd4d1;

        background: white;
        padding-bottom: 40px;
        }  
    .layout__caption {
        display: block;
        position: relative;
        font-size: 26px;
        margin: 30px 0;
        overflow: hidden;
        } 
        .layout__caption:after,
        .layout__caption > .ie-append {
            content: '';
            position: absolute;
            top: 50%;
            margin-left: 10px;
            width: 100%; height: 1px;
            background: #dfd7d4;
            }  
        .layout__caption.icon-before:before,
        .layout__caption.icon-before > .ie-prepend {
            margin-top: -8px; margin-right: 10px; 
            }          

.logo {
    display: inline-block;
    }
    .logo img {
        vertical-align: top;
        }
    .logo__head {
        vertical-align: top;
        margin: 2px 7px 0 -10px;
        } 
.lt-ie8 .logo {
    display: inline;
    zoom: 1;
    }           

.header {
    padding: 0 385px 0 295px;
    }
    .header__logo-section {
        float: left;
        margin-left: -295px;
        }
    .header__buttons-section {
        float: right;
        margin-right: -385px;
        }    
    .header__item {
        display: inline-block;
        height: 38px; padding: 0 15px;
        vertical-align: top;

        line-height: 38px;

        position: relative;
        border-right: 1px solid white;
        }
    .lt-ie8 .head__item {
        display: inline;
        zoom: 1;
        } 
        .header__item:before,
        .header__item > .ie-prepend {
        content: '';

        position: absolute;
        right: 0; top: 0;
        width: 1px; height: 100%;
        background: #d0c1bc;
        }
        .header__item > .ie-prepend {
            display: inline;
            zoom: 1;
            }
        .header__item_first {
            border-left: 1px solid white;
            } 
             .header__item_first:after,
             .header__item_first > .ie-append {
                content: '';

                position: absolute;
                left: 0; top: 0;
                width: 1px; height: 100%;
                background: #d0c1bc;
                }
        .header__item_active {
            color: #d24a40;
            }        
    .header__info {
        position: relative;
        display: inline-block;
        width: 105px; 
        padding: 3px 35px 0 0;
        margin: 0 -10px 0 8px;

        color: #222;
        font: normal 11px/11px Arial, sans-serif;
        } 
        .header__info:after,
        .header__info > .ie-append  {
            content: '';
            position: absolute;
            right: 0; top: 50%;
            margin-top: -8px;
            }
        .lt-ie8 .header__info {
            display: inline;
            zoom: 1;
            } 
    .header__order-count {
        display: inline-block;
        height: 22px;
        padding: 0 11px;
        border-radius: 22px;
        margin-left: 10px;
        background: #d24a40;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.25);

        line-height: 22px;
        color: white;
        text-shadow: 0 1px 1px #222;
        }        

.header__buttons-section .header__item {
    font-size: 13px;
    }
.header__buttons-section a:hover {
    text-decoration: underline;
}    

.dyn-link {}
    .dyn-link__item {
        border-bottom: 1px dotted #222; 
        }  
    .dyn-link:hover .dyn-link__item {
        border-bottom-width: 0;
        }    

.link {
    cursor: pointer;
    }
    .link__underline {
        border-bottom: 1px solid rgba(0,0,0,0.3);
        }
    .link:hover .link__underline {
        border-bottom-width: 0;
        } 
.link_blue .link__underline {
    color: #386d6d;
    }    

.lang-trigger {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    padding-right: 20px;
    }
    .lang-trigger:after,
    .lang-trigger > .ie-append {
        content: '';
        position: absolute;
        right: 4px; top: 50%;

        width: 0; height: 0;
        border: 4px solid transparent;
        border-top-color: #222;
        }
    .lang-trigger__item {
        position: relative;
        display: inline-block;
        padding-left: 24px;

        color: #222;
        font: normal 11px/16px Arial, sans-serif;
        }
        .lang-trigger__item:before,
        .lang-trigger__item > .ie-prepend {
            content: '';
            position: absolute;
            left: 0; top: 50%;
            margin-top: -5px;
            }
.lt-ie8 .lang-trigger,
.lt-ie8 .lang-trigger__item {
    display: inline;
    zoom: 1;
    }        

.header .lang-trigger {
    margin-top: 6px;
    margin-bottom: 12px;
    }

.icon-after:after,
.icon-after > .ie-append,
.icon-before:before,
.icon-before > .ie-prepend {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../img/ico-sprite.png) no-repeat;
    }  
    .icon-after:after,
    .icon-after > .ie-append {
        margin-left: 6px;
    }
    .icon-before:before,
    .icon-before > .ie-prepend {
        margin-right: 6px;
    }

    .icon-after__info:after,
    .icon-after__info > .ie-append {
        width: 24px; height: 24px;
        background-position: 0 0;
        }  
    .icon-before__ua:before,
    .icon-before__ua > .ie-prepend {
        width: 16px; height: 11px;
        background-position: 0 -24px;
        }         
    .icon-before__lock:before,
    .icon-before__lock > .ie-prepend {
        width: 13px;
        height: 17px;
        background-position: 0 -35px;

        margin-top: -4px;
        }
    .icon-before__man:before,
    .icon-before__man > .ie-prepend {
        width: 13px;
        height: 17px;
        background-position: 0 -52px;

        margin-top: -4px;
        }    
    .icon-before__cart:before,
    .icon-before__cart > .ie-prepend {
        width: 27px;
        height: 25px;
        background-position: 0 -69px;
        }   
    .icon-before__cart-button:before,
    .icon-before__cart-button > .ie-prepend {
        width: 68px;
        height: 68px;
        background-position: -27px 0;
        }
    .icon-before__book-button:before,
    .icon-before__book-button > .ie-prepend {
        width: 68px;
        height: 68px;
        background-position: -29px -68px;
        }     
    .icon-before__map:before,
    .icon-before__map > .ie-prepend {
        width: 77px;
        height: 77px;
        background-position: -100px 0;
        }  
    .icon-before__gift:before,
    .icon-before__gift > .ie-prepend {
        width: 77px;
        height: 77px;
        background-position: -177px 0;
        }            
    .icon-before__mail:before,
    .icon-before__mail > .ie-prepend {
        width: 77px;
        height: 77px;
        background-position: -100px -77px;
        }  
    .icon-before__star:before,
    .icon-before__star > .ie-prepend {
        width: 24px;
        height: 24px;
        background-position: -29px -139px;
        }
    .icon-before__clock:before,
    .icon-before__clock > .ie-prepend {
        width: 24px;
        height: 24px;
        background-position: -54px -139px;
        }   
    .icon-before__post:before,
    .icon-before__post > .ie-prepend {
        width: 68px;
        height: 68px;
        background-position: -256px 0;
        } 
    .icon-before__people:before,
    .icon-before__people > .ie-prepend {
        width: 68px;
        height: 68px;
        background-position: -256px -68px;
        } 
    .icon-before__book:before,
    .icon-before__book > .ie-prepend {
        width: 68px;
        height: 68px;
        background-position: -256px -137px;
        }                     
.lt-ie8 .icon-after > .ie-append,
.lt-ie8 .icon-before > .ie-prepend {
    display: inline;
    zoom: 1;
}         

.menu {}
    .menu__wrapper {
        position: relative;
        z-index: 10;
        height: 60px;
        background: url(../img/menu-bg.jpg) repeat;
        }  
    .menu__item {
        position: relative;
        display: inline-block;
        height: 20px;
        padding: 20px 21px 20px 20px;

        border-right: 1px solid black;

        color: white;
        font: normal 19px/20px Arial, sans-serif;

        text-decoration: underline;
        } 
        .menu__item:hover {
            text-decoration: none;
        }
        .menu__item:after,
        .menu__item > .ie-append {
            content: '';
            position: absolute;
            width: 1px; height: 100%;
            right: -2px; top: 0;
            background: #3a3939;
            }              
    .lt-ie8 .menu__item {
        display: inline;
        zoom: 1;
        }  

.search-form {
    position: relative;
    display: block;
    padding: 0 35px 0 15px;
    height: 34px;
    border-bottom: 1px solid #464646;
    border-radius: 34px;

    background: #161616;
    box-shadow: inset 0 2px 4px black;
    }
    .search-form:before,
    .search-form > .ie-prepend {
        content: '';
        position: absolute;
        right: 8px; top: 50%; margin-top: -8px;
        width: 18px; height: 18px;
        background: url(../img/ico-sprite.png) 0 -94px no-repeat;
    }   
    .search-form__text {
        width: 100%;
        height: 24px;

        font-size: 14px; line-height: 24px;
        color: white;
        text-shadow: 0 1px 1px black;

        border: 0; background: #161616;
        margin: 5px 0; padding: 0;
    }  
    .search-form__submit {
        position: absolute;
        width: 34px; height: 34px;
        right: 0; top: 0;
        border-radius: 34px;

        opacity: 0;
        } 
    .lt-ie9 .search-form__submit {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }  
    .lt-ie8 .search-form__submit {
        filter: alpha(opacity=0);
        }  

    .search-form_head {
        float: right;
        width: 190px;
        margin: 12px 12px 0 0;
        }  
    .search-form_light {
        width: 405px;
        float: right;

        background: #fdfbfa;
        border-color: #d0c1bc;
        box-shadow: inset 0 2px 4px #d0c1bc;
        } 
        .search-form_light .search-form__text {
            background: #fdfbfa;
            color: #222;
            text-shadow: none;
            font-style: italic;
            } 
        .search-form_light:before,
        .search-form_light > .ie-prepend {
            background-position: 0 -112px;
            }    

.promo {
    position: relative;
    min-height: 225px;
    padding: 20px 20px 20px 50%;
    background: #b52e28 url(../img/promo-bg.jpg) no-repeat;
    }  
    .promo:before,
    .promo > .ie-prepend {
        content: '';
        position: absolute;
        width: 394px; height: 306px;
        left: 43px; bottom: 0;
        background: url(../img/man-bg.png) no-repeat;
        } 
    .promo__mag {
        position: absolute;
        left: 132px; bottom: 0;
        width: 195px; height: 258px;
        overflow: hidden;
        background: white;
        }  
    .promo__head {
        color: white;
        font-weight: bold;
        font-size: 34px; line-height: 38px;
        margin: 0;
        text-transform: uppercase;
        }       
    .promo__text {
        color: white;
        font-style: italic;
        font-size: 13px;
        }    
    .promo__button-wrapper {
        padding-top: 8px;
        }    
    .promo__button {
        display: inline-block;
        width: 155px;
        padding-left: 77px; margin-top: 14px;
        min-height: 34px;

        color: white;
        font-size: 16px; line-height: 20px;
        }  
        .promo__button.link .link__underline {
            border-bottom-color: rgba(255,255,255,0.5);
            }
        .promo__button:before,
        .lt-ie8 .promo__button > .ie-prepend {
            float: left;
            margin-left: -77px; margin-top: -14px;
            }
        .lt-ie8 .promo__button {
            display: inline;
            zoom: 1;
            } 

.sub-menu {
    background: #f2e6e2;
    background:-webkit-gradient(linear,left top,left bottom,from(#f2e6e2),to(#ddd3d0));
    background:-webkit-linear-gradient(top, #f2e6e2, #ddd3d0);
    background:   -moz-linear-gradient(top, #f2e6e2, #ddd3d0);
    background:     -o-linear-gradient(top, #f2e6e2, #ddd3d0);
    background:        linear-gradient(top, #f2e6e2, #ddd3d0);

    border: 1px solid #cbc0be;
    border-top-color: white;
    border-radius: 0 0 4px 4px;

    font-size: 0;
    }
    .sub-menu__item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 198px; height: 50px;
        padding: 20px 10px 20px 120px;
        position: relative;
        border-left: 1px solid #c4bcb9;

        font-size: 18px;
        }
        .sub-menu__item:first-child {
            border-left: 0;
            }
            .sub-menu__item:first-child:after,
            .sub-menu__item:first-child > .ie-append {
                display: none;
                }
        .sub-menu__item:before,
        .sub-menu__item > .ie-prepend {
            position: absolute;
            left: 20px; top: 8px;
            }        
        .sub-menu__item:after,
        .sub-menu__item > .ie-append {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 1px; height: 100%;
            background: white;
            }

.text-section a {
    color: #386d6d;
    text-decoration: underline;
    }
    .text-section a:hover {
        text-decoration: none;
        }
    .text-section h2,
    .text-section__caption {
        font-size: 30px;
        line-height: 30px;
        margin: 21px 0;
        }
    .text-section p {
        margin-top: 17px;
        margin-bottom: 0;
        }        
    .text-section p:first-child {
        margin-top: 0;
    }    

.marker {
    display: inline-block;
    padding: 8px 10px;
    background: #fca845;
    border-radius: 4px;

    color: white;
    font-size: 18px;
    line-height: 18px;
    }
    .lt-ie8 .marker {
        display: inline;
        zoom: 1;
        }

.buy-button {
    position: relative;
    display: inline-block;
    padding: 8px 10px 8px 55px; 
    height: 22px;

    border: 1px solid #893429;
    border-left-color: #f48155;
    border-top-color: #f48155;
    border-radius: 2px;

    background: #e75e3a;
    background:-webkit-gradient(linear,left top,left bottom,from(#e75e3a),to(#c14032));
    background:-webkit-linear-gradient(top, #e75e3a, #c14032);
    background:   -moz-linear-gradient(top, #e75e3a, #c14032);
    background:     -o-linear-gradient(top, #e75e3a, #c14032);
    background:        linear-gradient(top, #e75e3a, #c14032);

    color: white;
    font-size: 14px;
    line-height: 22px;
    text-shadow: 0 -1px 1px #222;
    }
    .buy-button:hover {
        background: #ff6a43;
        background:-webkit-gradient(linear,left top,left bottom,from(#ff6a43),to(#c14032));
        background:-webkit-linear-gradient(top, #ff6a43, #c14032);
        background:   -moz-linear-gradient(top, #ff6a43, #c14032);
        background:     -o-linear-gradient(top, #ff6a43, #c14032);
        background:        linear-gradient(top, #ff6a43, #c14032);
    }
    .buy-button:active {
        background: #c14032;
        background:-webkit-gradient(linear,left top,left bottom,from(#c14032),to(#ff6a43));
        background:-webkit-linear-gradient(top, #c14032, #ff6a43);
        background:   -moz-linear-gradient(top, #c14032, #ff6a43);
        background:     -o-linear-gradient(top, #c14032, #ff6a43);
        background:        linear-gradient(top, #c14032, #ff6a43);
    }
    .buy-button:before,
    .buy-button > .ie-prepend {
        content: '';
        position: absolute;
        left: 0; top: 50%; margin-top: -19px;
        width: 45px; height: 38px;
        background: url(../img/ico-sprite.png) -60px -186px no-repeat;
        }
    .buy-button input {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;

        opacity: 0;
        }     
    .lt-ie9 .buy-button input {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }  
    .lt-ie8 .buy-button input {
        filter: alpha(opacity=0);
        } 
    .lt-ie8 .buy-button {
        display: inline;
        zoom: 1;
        }     

.product {
    margin: 25px 0;
    width: 990px; padding: 0 15px;
    margin-left: -15px;
    }
    .product.js-slider {
        display: none;
        }
    .product__wrapper {
        min-height: 200px;
        background: url(../img/preloader.gif) center center no-repeat;
        }
    .product table {
        width: 100%;
        }
    .product__content {
        background: #f1e6e2;
        padding: 10px;
        border: 1px solid #cbc0be;
        border-radius: 4px;
        margin-left: 1px;
        }
    .product__image-wrapper {
        text-align: center;
        vertical-align: middle;

        width: 465px;
        }  
        .product__image {
            background: white;
            padding: 10px;
            margin-right: 15px;
            border: 1px solid #cbc0be;
            border-radius: 4px;
            }     
    .product__text-wrapper {
        padding-right: 15px;
        }         
    .product__caption {
        font-size: 30px;
        line-height: 36px;
        margin: 18px 0;
        }   
        .product__more-link-wrapper {
            font-size: 14px;
            margin-top: 10px;
            } 
    .product__bottom {
        margin-top: 20px;
        }
        .product__price {
            font-size: 36px;
            line-height: 40px;
            vertical-align: top;
            margin-right: 20px;
            }       
.product .slidesjs-pagination {
    position: absolute;
    right: 40px;
    bottom: 25px;
    z-index: 10;
    }


.js-slider {
    position: relative;
    }
.slidesjs-navigation {
    position: absolute;
    top: 50%; margin-top: -33px;
    width: 30px; height: 66px;

    background: url(../img/ico-sprite.png) no-repeat;
    font-size: 0; line-height: 0;
    z-index: 10;
    }
    .slidesjs-previous {
        left: 6px;  
        background-position: 0 -196px;   
        }
    .slidesjs-next {
        right: 5px;
        background-position: 0 -130px;
        }
.catalog .slidesjs-navigation {
    width: 29px; height: 48px; 
    top: 120px;
    }
    .catalog .slidesjs-previous {
        background-position: -31px -163px;
        }
    .catalog .slidesjs-next {
        background-position: -31px -211px;
        right: 7px;
        }    

.slidesjs-pagination {
    padding: 0; 
    margin: 10px 0;
    }  
    .slidesjs-pagination-item,      
    .slidesjs-pagination-item a {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        vertical-align: top;
        font-size: 0;
        }
    .slidesjs-pagination-item a {
       background: url(../img/ico-sprite.png) 0 -264px no-repeat;
    }  
    .slidesjs-pagination-item a.active {
       background-position: -20px -264px;
       cursor: default;
    }    
    .lt-ie8 .slidesjs-pagination-item,
    .lt-ie8 .slidesjs-pagination-item a {
        display: inline;
        zoom: 1;
        }    

.rotator {
    padding-left: 330px;
    margin: 25px 0;
    overflow: hidden;

    min-height: 200px;
    background: url(../img/preloader.gif) center center no-repeat;
    }
    .rotator.js-inited {
        background: none;
        }
    .rotator__nav-wrapper {
        float: left;
        margin-left: -330px;
        width: 310px;
        padding-right: 20px;

        display: none;
        }
        .rotator.js-inited .rotator__nav-wrapper {
            display: block;
            }
        .rotator__nav {
            position: relative;
            display: block;
            padding: 7px 10px 10px 90px;
            height: 73px;
            border: 1px solid white;
            border-bottom: 1px solid #ddd4d1;
            line-height: 19px;
            }
            .rotator__nav.current {
                background: #f6eeeb;
                border-color: #ddd4d1;
                border-top-color: #f6eeeb;
                }
                .rotator__nav:first-child {
                    border-top-color: #ddd4d1;
                }
                .rotator__nav.current:after,
                .rotator__nav.current:before,
                .rotator__nav.current > .ie-append,
                .rotator__nav.current > .ie-prepend {
                    content: '';
                    position: absolute;
                    top: 50%; margin-top: -3px;
                    width: 0; height: 0;
                    border: 6px solid transparent;
                    }
                    .rotator__nav.current:before,
                    .rotator__nav.current > .ie-prepend {
                        border-left-color: #ddd4d1;
                        right: -12px;
                    }
                    .rotator__nav.current:after,
                    .rotator__nav.current > .ie-append {
                        border-left-color: #f6eeeb;
                        right: -11px;
                    }
            .rotator__preview {
                float: left;
                margin-left: -80px; margin-top: 3px;
                width: 70px;
                height: 70px;
                overflow: hidden;
                }
            .rotator__date {
                display: block;
                color: #666;
                font-size: 11px;
                line-height: 16px;
                margin-top: 4px;
                } 
    .rotator__content {
        position: relative;
        display: none;
        } 
        .rotator__content.current {
            display: block;
            }          
    .rotator__text-wrapper {
        position: absolute;
        left: 0; bottom: 0;
        padding: 10px;
        background: url(../img/black-opacity.png) repeat;
        }     
        .rotator__marker {
            color: white;
            font-size: 12px;
            padding: 5px 8px;
            background: #c74024;
            border-radius: 4px;

            float: left; 
            margin-right: 8px; margin-top: -2px;
            }       
            .rotator__caption {
                margin: 0;
                margin-bottom: 12px;

                color: white;
                font-size: 16px;
                }
            .rotator__text {
                font-size: 12px;
                color: #ccc;
                }    
                .rotator__text p {
                    margin-top: 1em;
                    margin-bottom: 0;
                    }
                     .rotator__text p:first-child {
                        margin-top: 0
                        }

.shop-menu {
    margin-left: -11px;
    font-size: 0;
    }
    .shop-menu__wrapper {
        padding: 10px;
        background: #f1e6e2;
        border: 1px solid #cbc0be;
        border-radius: 4px;
        }
    .shop-menu__item {
        display: inline-block;
        padding: 4px 18px;
        font-size: 18px;
        line-height: 27px;
        border-left: 1px solid #cbc0be;
        } 

.catalog {
    font-size: 0;
    width: 990px;
    padding: 0 15px;
    margin-left: -15px;

    display: none;
    }
    .catalog__wrapper {
        min-height: 200px;
        background: url(../img/preloader.gif) center center no-repeat;
    }
    .catalog__wrapper.js-inited {
        background: none;
        }
    .catalog__item {
        display: inline-block;
        width: 220px; vertical-align: top;
        padding-top: 10px;
        border: 1px solid #ddd4d1;
        border-bottom: 0;
        border-radius: 3px;
        background: #f6eeeb;
        font-size: 14px; line-height: 21px;

        white-space: normal;
        } 
        .catalog__inner-list {
            white-space: nowrap;
            }
        .catalog__inner {
            padding: 0 10px;
            }
            .catalog__item + .catalog__item {
                margin-left: 33px;
                }
    .lt-ie8 .catalog__item {
        display: inline;
        zoom: 1;
        }  
        .catalog__inner-list {
            padding-left: 1px;
            padding-bottom: 1px;
            }
        .catalog__image {
            border: 1px solid #ddd4d1;
            height: 200px;
            overflow: hidden;
            text-align: center;
            } 
        .catalog__name {
            margin: 10px 0;
            font-size: 13px;
            }               
        .catalog__price {
            margin: 10px 0 5px 0;
            font-size: 20px; line-height: 24px;
            }   
        .catalog__spinner {
            float: left;
            width: 50%;

            height: 23px;
            } 
        .catalog__submit-wrapper {
            float: right;
            width: 50%;
            }    
        .catalog__submit {
            display: block;
            height: 41px;
            box-sizing: border-box;
            border-color: #993b2f;
            border-radius: 0; 

            font-size: 12px;
            }    
            .lt-ie8 .catalog__submit {
                width: 44px;
                height: 25px;
                }     
        .catalog__bottom {
            margin-top: 10px;
            }         


.form {}
    .form__label {
        font-size: 12px;
        color: #666;
        }  
    .checker + .form__label {
        margin-left: 10px;
        }                  

.checker {
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
    background: white;
    vertical-align: top;
    }
    .lt-ie9 .checker {
        outline: 1px solid gray;
        }
.checker,
.checker span {
    display: inline-block;
    width: 15px; height: 15px;
    }
    .checker .checked {
        background: url(../img/ico-sprite.png) -76px -170px no-repeat;
        }
    .checker input {
        position: absolute;
        left: 0; top: 0;
        width: 100px; height: 100px;

        opacity: 0;
        }
    .lt-ie9 .checker input {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }  
    .lt-ie8 .checker input {
        filter: alpha(opacity=0);
        }   
.lt-ie8 .checker,
.lt-ie8 .checker span {
    display: inline;
    zoom: 1;
    }      

.ui-spinner {
    display: block;
    position: relative;
    padding: 8px 35px;
    }   
    .ui-spinner input {
        position: relative;
        z-index: 10;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);

        font-size: 14px; line-height: 21px;
        height: 21px;
        color: #222;
        background: white;
        border: 0;
        text-align: center;

        width: 100%;
        } 
        .lt-ie9 .ui-spinner input {
            outline: 1px solid gray;
            }
        .ui-spinner input:focus {
            box-shadow: inset 0 1px 2px #fb9339;
            }
    .ui-spinner-button {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        
        background: #f6eeeb;
        background:-webkit-gradient(linear,left top,left bottom,from(#f6eeeb),to(#e6dbd7));
        background:-webkit-linear-gradient(top, #f6eeeb, #e6dbd7);
        background:   -moz-linear-gradient(top, #f6eeeb, #e6dbd7);
        background:     -o-linear-gradient(top, #f6eeeb, #e6dbd7);\
        background:        linear-gradient(top, #f6eeeb, #e6dbd7);


        border: 1px solid #d0c1bc;

        cursor: pointer;
        }   
        .ui-spinner-button.ui-state-hover {
            background: #fcf3f0;
            background:-webkit-gradient(linear,left top,left bottom,from(#fcf3f0),to(#e6dbd7));
            background:-webkit-linear-gradient(top, #fcf3f0, #e6dbd7);
            background:   -moz-linear-gradient(top, #fcf3f0, #e6dbd7);
            background:     -o-linear-gradient(top, #fcf3f0, #e6dbd7);
            background:        linear-gradient(top, #fcf3f0, #e6dbd7);
            } 
        .ui-spinner-button.ui-state-active {
            background: #e6dbd7;
            background:-webkit-gradient(linear,left top,left bottom,from(#e6dbd7),to(#fcf3f0));
            background:-webkit-linear-gradient(top, #e6dbd7, #fcf3f0);
            background:   -moz-linear-gradient(top, #e6dbd7, #fcf3f0);
            background:     -o-linear-gradient(top, #e6dbd7, #fcf3f0);
            background:        linear-gradient(top, #e6dbd7, #fcf3f0);

            box-shadow: inset 1px 2px 4px rgba(0,0,0,0.2);
            } 
            .lt-ie8 .ui-spinner-button.ui-state-active {
                outline: 1px solid gray;
                }
        .ui-spinner-up {
            right: 0;
            }
        .ui-spinner-down {
            left: 0;
            border-left: 0;
            }
        .ui-button-text {
            font-size: 0;
            line-height: 0;

            position: absolute;
            top: 50%;
            background: url(../img/ico-sprite.png) no-repeat;
            }
            .ui-spinner-down .ui-button-text {
                width: 12px; height: 4px;
                margin-top: -2px;
                background-position: -60px -170px;
                left: 10px;
                }
            .ui-spinner-up .ui-button-text {
                width: 12px; height: 12px;
                margin-top: -6px;
                background-position: -60px -174px;
                right: 10px;
                } 

.button {
    display: inline-block;
    padding: 4px 15px;
    height: 20px;
    border: 1px solid #cbbebb;

    font-size: 14px; line-height: 20px;
    text-shadow: 0 1px 1px white;

    background: #f3ebe8;
    background:-webkit-gradient(linear,left top,left bottom,from(#f3ebe8),to(#e5dbd8));
    background:-webkit-linear-gradient(top, #f3ebe8, #e5dbd8);
    background:   -moz-linear-gradient(top, #f3ebe8, #e5dbd8);
    background:     -o-linear-gradient(top, #f3ebe8, #e5dbd8);
    background:        linear-gradient(top, #f3ebe8, #e5dbd8);

    border-radius: 28px;
    font-style: italic;
    }
.lt-ie8 .button {
    display: inline;
    zoom: 1;
    }    

.footer {
    position: relative;
    z-index: 0;
    padding: 20px 0;
    }
    .footer__about,
    .footer__item {
        display: inline-block;
        vertical-align: top;
    }
    .footer__about {
        width: 350px; padding-right: 40px;
        vertical-align: top;
        }       
    .footer__news {
        width: 305px;
        padding-right: 40px;
        } 
    .footer__ico-menu {
        width: 240px;
        padding: 0; margin: 0;
        list-style: none;
        }    
    .footer__info {
        width: 700px;
        padding-right: 10px;
        } 
    .footer__menu-wrapper {
        width: 240px;
        }           
    .lt-ie8 .footer__item {
        display: inline;
        zoom: 1;
        }   
        .footer__news-list {
            margin: 25px 0;
            padding: 0;
        } 

.footer .text-section p {
    margin-top: 14px;
    }
    .footer .text-section p:first-child {
        margin-top: 0;
        }

.footer_black:before,
.footer_black > .ie-prepend {
    content: '';
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    background: url(../img/black-opacity.png) repeat;
    z-index: -1;
    }
.footer_black {
    color: #666;
    font-size: 11px;
    line-height: 16px;
    }    


.foot-menu {}
    .foot-menu__item {
        display: block;
        position: relative;
        min-height: 50px;
        padding: 15px 25px 15px 95px;
        margin-top: 15px;

        font-size: 18px; line-height: 21px;
        }   
        .foot-menu__item:before,
        .foot-menu__item > .ie-prepend {
            position: absolute;
            margin-left: -95px; margin-top: -8px;
            }               

.foot-news {}
    .foot-news__item {
        position: relative;
        display: block;
        padding: 7px 10px 10px 90px;
        border-bottom: 1px solid #ddd4d1;

        overflow: hidden;
        }

.foot-links {
    margin-left: -10px;
    }
    .foot-links__item {
        margin-left: 10px;
        }            