/* CSS подключается если используются семантика вне контентентных областей. */

    table, th, td   {
        padding: 0;
        text-align: left;
        vertical-align: top;
        border-collapse: collapse;
		border-spacing: 0;
    }

    ol, ul {padding: 0;margin: 0;}
    li  {display: block;}

    dl,dd,p {margin:0;}

    small {font-size: inherit;}

