html {
    overflow-y: scroll;
}

body {
    margin: 0;
    color:#3d3d3d;
}

body, textarea {
    font: 12px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

a {text-decoration: underline;}
a:hover,a:focus {text-decoration: none;}
a:focus {outline:1px dotted;}

img {max-width:100%;border:0;}

h1,h2,h3,h4,h5,h6,form,legend,fieldset {
    margin:0;padding:0;border:0;
	font-weight:normal;
    font-size:100%;
}
