/*Заголовки секций*/

.b-h1,
.b-h2,
.b-h3,
.b-h4,
.b-h5,
.b-h6,
.b-article h1,
.b-article h2,
.b-article h3,
.b-article h4,
.b-article h5,
.b-article h6 {
    padding:0; margin:0;
    display: block;
    font-weight:bold;
}


.b-article h1,.b-h1 {font-size:3em;line-height:1em;margin-bottom:1em;}
.b-article h2,.b-h2 {font-size: 2em;margin-bottom: 0.75em;line-height: 2.25em;}
.b-article h3,.b-h3 {font-size: 1.5em; line-height: 1; margin-bottom: 1em;}
.b-article h4,.b-h4 {font-size: 1.25em; line-height: 1.25; margin-bottom:1.25em;}
.b-article h5,.b-h5 {font-size: 1em; font-weight: bold; margin-bottom: 1.5em;}
.b-article h6,.b-h6 {font-size: 1em; font-weight: bold;}


/*группировка содержания*/

.b-article p,
.b-article hr,
.b-article pre,
.b-article blockquote,
.b-article ol,
.b-article ul,
.b-article dl,
.b-article table {margin:1.5em 0 1.5em;}

.b-article hr {
    display:block;
    width: 100%;
    height:1px;
    border:0;
    padding:0;
    border-top:1px solid #ddd;
    margin-top: -2px;
}

.b-article blockquote {
    padding: 0 0 0 1.5em;
    margin-left: 1.5em;
    border-left: 1px solid #CCC;
    font-style: italic;
}

.b-article ol,
.b-article ul {padding: 0;margin:0 0 1.5em 0;}
.b-article ul {list-style: square;}
.b-article li {
    margin:0 0 0 2em;
}

.b-article ul ul,
.b-article ol ul,
.b-article ul ol,
.b-article ol ol {margin: 0;}


.b-article dt {margin:0 0 0 0;}
.b-article dd {margin:0 0 0 1.5em;}


/*Семантика текста*/

.b-article a:visited {color: #974dac;}

.b-article b,.b-article strong {font-weight: bold;}
.b-article i,.b-article em {font-style: italic;}

.b-article q:before,
.b-article q:after {content:'\0022';}

.b-article ins {background-color:#ff9; color:#000; text-decoration:none;}
.b-article mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}


.b-article pre,.b-article  code,.b-article  kbd,.b-article  samp {font-family:  'Courier New', Courier, monospace;}
.b-article code {padding: 2px 4px;border-radius: 3px;color: #005A9C;background: #E2EDFE;font-size: 1em;}


.b-article abbr,
.b-article dfn[title] { border-bottom:1px dotted; cursor:help; }

.b-article dfn {color: #999;}

.b-article sup,
.b-article sub {vertical-align: middle;position: relative;font-size: 75%;}
.b-article sup { bottom: 0.5em; }
.b-article sub { top: 0.5em; }


.b-article small { font-size:80%; }
.b-article var,
.b-article address {font-style: normal;}

/*Таблицы*/

.b-article table {width: 100%;border-spacing:0;border-collapse: collapse;}

.b-article table td,
.b-article table th {padding: 0.75em;}

.b-article caption,
.b-article th,
.b-article td {text-align:left;}


.b-article thead th {background: #ccc;}
.b-article caption {padding: 0 0 0.75em;font-size:1em;font-weight: bold;}

.b-article table tr:nth-child(even) td,
.b-article table tr:nth-child(even) th  {background: #eee;}
