.b-input__text {
    display:block;
    width: 100%;
    margin:0;

    border:1px solid #ddd;
    padding:3px;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}


.b-input_textarea .b-input__text{
    overflow:auto;
    resize: vertical;
    height: 70px;
}

.b-input__radio, .b-input__checkbox {
    vertical-align: middle;
    font-size: 75%;

    position: relative;
    top: 0.25em;
}

.b-input__checkbox {margin:-6px 0 0 0;}
.b-input__radio {margin:-6px -4px 0 0;}

