/* common */
.b-link {
	display:inline-block;
	padding:0 1px 2px 1px;
	border-bottom:1px solid;
	}
	.b-link:hover { border-bottom:0; }
	
a:hover .b-link { border-bottom:0; }

	.b-link__dashed { border-style:dashed; }
		
a { text-decoration:none; }	

sup {
	display:inline-block;
	position:relative;
	}
	
.wrapper {
	position:relative;
	width:960px;
	margin:0 auto;
	}
	
.fl { float:left; }
.fr { float:right; }

.disabled { cursor:default; }			
/* END common */

#aqua {
	min-width:1000px;
	}

/* header */
#header {
	position:fixed;
	width:100%; height:59px; min-width:1000px;	
	background:url('../img/header-bg-3.png') repeat-x;
	z-index:999;
	}
	
	/* main-menu */
	.b-main-menu {
		width:960px; height:59px;
		margin:0 auto; padding:0 10px;
		text-align:justify;
		overflow:hidden;
		font:normal 16px/18px Arial, sans-serif;
		}
		.b-main-menu_item {
			position:relative;
			display:inline; 		
			color:#FDFEFE;
			}
			.b-main-menu_item span {
				display:inline-block;						
				padding-top:18px;	
				}
				
		.b-main-menu:after {
			content: "1";
			margin-left: 100%;
			height: 1px;
			overflow: hidden;
			display: inline-block;
			}
			
		.b-main-menu_item__active {
			cursor:default;
			color:#002157;
			}
			
			.b-main-menu_item__active .b-link { border-bottom:0; }
			
		.b-main-menu_item .b-link { border-color:#FDFEFE; }		
	/* END main-menu */
/* END header */

/* first */
#first {
	position:relative;
	width:100%; height:820px;
	padding-top:80px;
	background:url('../img/first-bg.png') repeat-x;
	}
	
	#logo {
		position:absolute;
		left:50%; top:260px;
		margin-left:-190px;
		width:523px; height:480px;
		background:url('../img/logo-bg.png') no-repeat;
		text-indent:-9999px;
		}
	
	#first #wave {
		position:relative;
		min-width:960px; padding:0 20px;
		max-width:1920px;
		height:820px;
		margin:0 auto;
		background:url('../img/first-wave.png') 50% top no-repeat;
		}
	
	#first #bubbles {
		position:relative;
		width:960px; height:100%;
		margin:0 auto;
		background:url('../img/first-bubbles.png') 50% 0 no-repeat;
		}	
		
		#first .b-head { 
			width:695px; height:60px;
			padding-top:27px;
			background:url('../img/aqua-head.png') left bottom no-repeat;
			text-indent:-9999px;
			}
		
		#first .b-description {
			padding:35px 85px 485px 0;
			color:#176EC3;
			font:italic 15px/22px Arial, sans-serif;
			}
			#first .b-description sup {
				font-size:10px;
				top:-5px;
				}
		
		#first .b-address {
			padding:14px 230px 0 0;
			background:url('../img/hr-bg.png') left top repeat-x;
			color:#828B92;
			font:italic 15px/33px Arial, sans-serif;
			}
			#first .b-address b {
			display:inline-block;
			position:relative;
			top:6px;
			font-size:24px;	
			}
		
		#first .b-plunge {
			position:absolute;
			right:35px; top:410px;
			width:80px; padding:88px 0 0 4px;
			background:url('../img/plunge-bg.png') no-repeat;
			}
			#first .b-plunge .b-link__dashed { font-style:italic; color:#1A65BC; }					
/* END first */

/* second */
#second {
	position:relative;
	width:100%; min-width:980px;
	height:900px;
	background:url('../img/second-bg.png') repeat-x;
	}
	
	#second #blue-light {
		width:100%;
		height:900px; min-width:1000px; max-width:1628px;
		margin:0 auto;
		background:url('../img/second-blue-light.png') 50% 0 no-repeat;
		}
	
	#second #gallery-wrap {
		position:relative;
		min-width:1000px; max-width:1400px;
		height:900px;
		margin:0 auto;
		}
	
	#second .b-head {
		width:202px; height:60px;
		padding-top:105px;
		background:url('../img/second-head.png') left bottom no-repeat;
		text-indent:-9999px;
		}
	
	#second #gallery {
		position:relative;
		width:1000px; height:600px;
		padding:40px 0;
		margin:0 auto;
		}
			
		/* gallery */
		#gallery-wrap .b-arrows {
			position:absolute;
			top:445px;
			width:90px; height:90px;
			background:url('../img/arrows-nav.png') no-repeat;
			text-indent:-9999px;
			outline:none;
			z-index:10;
			}
			#gallery-wrap .b-arrows__left { left:0; background-position:0 0; }
			#gallery-wrap .b-arrows__right { right:0; background-position:right 0; }
			
			#viewport { 
				position:relative;
				overflow:hidden;
				width:1000px; height:600px;
				-moz-box-shadow: 0 0 22px rgba(0,0,0,1); 
			    -webkit-box-shadow: 0 0 22px rgba(0,0,0,1); 
			    box-shadow: 0 0 22px rgba(0,0,0,1);
				}
				
				#viewport ul { height:600px; }
					#viewport li { 
						float:left; 
						width:1000px; height:600px;
						}
			
			#nav {
				position:absolute;
				bottom:0; right:0;
				height:40px;
				margin-right:-8px;
				}
				
				#nav .b-nav_dot {
					display:inline-block;
					width:16px; height:16px;
					margin:16px 4px 0 4px;
					background:#253D5C;
					border-radius:8px;
					cursor:pointer;
					}
					#nav .b-nav_dot__active {
						background:#1A65BC;
						cursor:default;
						}
			
			#big-image {
				position:absolute;
				left:0; top:40px;
				width:0; height:0;
				overflow:hidden;
				}
				
				#big-image #close {
					position:absolute;
					right:17px; top:17px;
					width:40px; height:40px;
					background:url('../img/close.png') no-repeat;
					text-indent:-9999px;
					}
				
			#gallery table {
				height:100%; width:100%; 
				}
				#gallery table td {
					border:1px solid black;
					border-collapse:collapse;
					}
					
				#gallery table td a {
					position:relative;
					display:block;
					height:200px;				
				}
				
			#gallery .js-roll{ 
				position:absolute;
				left:0; top:0;
				width:100%; height:0;
				background:url('../img/gallery-roll-bg.png') repeat;
				color:black;
				font:italic 15px/18px Arial, sans-serif;
				}
				#gallery .js-roll > span {
					display:block;
					opacity:0;
					padding:95px 0 0 80px; 
					}

/* END second */

/* third */
#third {
	position:relative;
	width:100%; min-width:980px;
	height:900px;
	background:url('../img/third-bg.png') repeat-x;
	}

#third #blue-light {
	min-width:1000px; max-width:1628px;
	height:900px; 
	margin:0 auto;
	background:url('../img/third-blue-light.png') 50% 0 no-repeat;
	}

#third #bubbles {
	min-width:1000px; max-width:1320px;
	height:900px;
	margin:0 auto;
	background:url('../img/third-bubbles.png') 50% 0 no-repeat;
	}

#third #ball {
	position:absolute;
	width:356px; height:452px;
	left:-33px; top:190px;
	background:url('../img/third-ball.png') no-repeat;
	}	

#third #slippers {
	min-width:1000px; max-width:1400px;
	height:900px; 
	margin:0 auto;
	background:url('../img/third-slippers.png') no-repeat;
	}
	
	#third .b-head {
		width:344px; height:64px;
		padding-top:105px;
		background:url('../img/third-head.png') left bottom no-repeat;
		text-indent:-9999px;
		}
	
	#third .b-description {
		padding:127px 0 0 125px;
		margin-left:480px;
		}
		#third .b-description_head {
			color:white;
			font:italic 25px/27px Arial, sans-serif;
			}
			#third .b-description_head__hr {
				padding-bottom:15px;
				background:url('../img/third-hr.png') left bottom repeat-x;
				}
			
	#third .b-description p {
		color:#002157;
		font:italic 15px/22px Arial, sans-serif;
		padding:13px 0;
		}
/* END third */

/* fourth */
#fourth {
	position:relative;
	width:100%; min-width:980px;
	height:900px;
	background:url('../img/fourth-bg.png') repeat-x;
	}

#fourth #yellow-light {
	position:relative;
	min-width:1000px; max-width:1628px;
	height:900px; 
	margin:0 auto;
	background:url('../img/fourth-yellow-light.png') 50% 0 no-repeat;
	}
	#fourth #leaves {
		min-width:1000px; max-width:1300px;
		height:900px;
		margin:0 auto;
		background:url('../img/fourth-leaves.png') right 0 no-repeat;
		}
	#fourth #bubbles {
		width:100%; height:900px;
		margin:0 auto;
		background:url('../img/fourth-bubbles.png') 50% 0 no-repeat;
		}
	
		#fourth .b-head {
			width:271px; height:64px;
			padding:105px 610px 0 0;
			background:url('../img/fourth-head.png') left bottom no-repeat;
			text-indent:-9999px;
			}
		
		#fourth .b-description {
			padding:16px 610px 16px 0;
			}
			#fourth .b-description_head {
				color:white;
				font:italic 25px/27px Arial, sans-serif;
				}
				#fourth .b-description_head__hr {
					padding-bottom:13px;
					background:url('../img/fourth-hr-bg.png') left bottom repeat-x;
					}
				
		#fourth .b-description p {
			color:#111;
			font:italic 15px/22px Arial, sans-serif;
			padding:13px 0;
			}	

/* END fourth */
