html, body {
	font: normal 14px/1.4em Arial, sans-serif;
	cursor: default;
}

a {
	color: #1662b8;
	text-decoration: underline;
}
	a:hover,
	a.hover {
		color: #b81644;
		text-decoration: none;
	}

.fl {
	float: left;
}
.fr {
	float: right;
}
.no-br {
	white-space: nowrap;
}

.orange-bg {
	background: #FF6200;
	background-image: linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -o-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -moz-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -webkit-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -ms-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FF6200),
		color-stop(1, #FF9900)
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9900, endColorstr=#FF6200);
}
	.ie8 .orange-bg {
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9900, endColorstr=#FF6200)";
	}
	.ie7 .orange-bg {
		zoom: 1;
	}
.green-bg {
	background: #00b96f;
	background-image: linear-gradient(bottom, #008C38 0%, #00B96F 100%);
	background-image: -o-linear-gradient(bottom, #008C38 0%, #00B96F 100%);
	background-image: -moz-linear-gradient(bottom, #008C38 0%, #00B96F 100%);
	background-image: -webkit-linear-gradient(bottom, #008C38 0%, #00B96F 100%);
	background-image: -ms-linear-gradient(bottom, #008C38 0%, #00B96F 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #008C38),
		color-stop(1, #00B96F)
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00B96F, endColorstr=#008C38);
}
	.ie8 .green-bg {
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00B96F, endColorstr=#008C38)";
	}
	.ie7 .green-bg {
		zoom: 1;
	}

.button {
	display: inline-block;
	padding: 5px 13px;
	background: #FF6200;
	background-image: linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -o-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -moz-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -webkit-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	background-image: -ms-linear-gradient(bottom, #FF6200 0%, #FF9900 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9900, endColorstr=#FF6200)";
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FF6200),
		color-stop(1, #FF9900)
	);

	color: white;
	text-shadow: 0 -1px 1px gray;
	font-size: 14px; line-height: 18px;
	box-shadow: 0 1px 1px gray;

	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9900, endColorstr=#FF6200);
}
	.ie7 .button {
		display: inline;
		zoom: 1;
	}

	a.button {
		text-decoration: none;
	}
		a.button:hover {
			color: white;
		}

.button:active {
	background: #FF9900;
	background-image: linear-gradient(bottom, #FF9900 0%, #FF6200 100%);
	background-image: -o-linear-gradient(bottom, #FF9900 0%, #FF6200 100%);
	background-image: -moz-linear-gradient(bottom, #FF9900 0%, #FF6200 100%);
	background-image: -webkit-linear-gradient(bottom, #FF9900 0%, #FF6200 100%);
	background-image: -ms-linear-gradient(bottom, #FF9900 0%, #FF6200 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FF9900),
		color-stop(1, #FF6200)
	);
}

.divider {
	height: 1px;
	border-top: 1px solid #cdd1d8;
	border-bottom: 2px solid #cdd1d8;
	margin: 25px 0;
}

/*** LAYOUT ***/
#arabia {
	background: #fcaf00;
	overflow: hidden;
	position: relative;
	min-width: 1000px;
}
	.l-wrapper {
		width: 980px;
		margin: 0 auto;
		padding: 0 10px;
	}

	#content {
		overflow: hidden;
	}
	#content .content-wrapper {
		float: left;
		width: 100%;
	}
	#content .sidebar {
		float: left;
		width: 25%;
	}	
		.is-index.ltr #content .content-wrapper .content,
		.is-inner.rtl #content .content-wrapper .content {
			padding-right: 30px;
		}
		.is-index.rtl #content .content-wrapper .content,
		.is-inner.ltr #content .content-wrapper .content {
			padding-left: 30px;
		}
		.is-index.ltr #content .content-wrapper .content,
		.is-inner.rtl #content .content-wrapper .content {
			margin-right: 25%;
		}
		.is-index.ltr #content .sidebar,
		.is-inner.rtl #content .sidebar {
			margin-left: -25%;
		}
		.is-index.rtl #content .content-wrapper .content,
		.is-inner.ltr #content .content-wrapper .content {
			margin-left: 25%;
		}
		.is-index.rtl #content .sidebar,
		.is-inner.ltr #content .sidebar {
			margin-left: -100%;
		}


/* language dir */
.rtl .content,
.rtl .sidebar,
.rtl #head,
.rtl #footer,
.rtl .promo-slider {
	direction: rtl;
}

	.rtl .fl {
		float: right;
	}
	.rtl .fr {
		float: left;
	}

/*** TYPO ***/
#content {
	color: #222;
	font: normal 14px/1.5em Arial, sans-serif;
}
#content .content > h1 {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 30px;
	margin-top: 15px;
}
#content .content > p {
	margin: 25px 20px;
}
#content .content > h2 {
	font-size: 24px;
	line-height: 36px;
	margin: 20px 0;
}
#content .content > ul {
	margin: 25px 20px;
}
	#content .content > ul li {
		margin: 6px 0;
		background: url(../images/bullit-bg.png) no-repeat;
	}
	.ltr #content .content > ul li {
		padding-left: 15px;
		background-position: left 5px;
	}
	.rtl #content .content > ul li {
		padding-right: 15px;
		background-position: right 5px;
	}

/*** CONTENT ***/
#head {
	background: #e67100;
}	
	#head .l-wrapper {
		position: relative;
		z-index: 10;
	}
	   #head .l-wrapper:before,
	   #head .l-wrapper > .ie-prepend {
			content: '';
			position: absolute;
			height: 100%;
			width: 942px;
			left: -370px;
			background: url(../images/head-bg.jpg) no-repeat;
		}
		.ltr #head .l-wrapper:before,
		.ltr #head .l-wrapper > .ie-prepend {
			left: -370px;
		}
		.rtl #head .l-wrapper:before,
		.rtl #head .l-wrapper > .ie-prepend {
			right: -385px;
		}
		
	#head .top-wrapper {
		padding: 6px 30px;
		text-align: center;
		position: relative;
		z-index: 15;
	}
	#head .lang-wrapper,
	#head .logo {
		position: absolute;
		top: 5px;
	}
	.ltr #head .lang-wrapper {
		right: 30px;
	}
	.ltr #head .logo {
		left: 30px;
	}
	.rtl #head .lang-wrapper {
		left: 30px;
	}
	.rtl #head .logo {
		right: 30px;
	}

	#head .lang {
		margin-bottom: 10px;
	}
	#head .lang li {
		display: inline-block;
		color: #222;
		margin: 0 3px;
	}
		.ie7 #head .lang li {
			display: inline;
			zoom: 1;
		}
	#head .lang a {
		color: white;
	}	
	#head .banner {
		position: relative;
		display: inline-block;
		height: 167px;
		width: 600px;
	}
		.ie7 #head .banner {
			display: inline;
			zoom: 1;
		}
		#head .banner p {
			position: relative;
			padding: 15px 20px;
			font-size: 18px;
			color: white;
			text-shadow: 0 -1px 1px gray;
			text-align: left;
		}
			.rtl #head .banner p {
				text-align: right;
			}
		#head .banner img {
			position: absolute;
			left: 0; top: 0;
			vertical-align: bottom;
		}

.nav {
	background: #000;
	background-image: linear-gradient(bottom, #000000 0%, #494949 100%);
	background-image: -o-linear-gradient(bottom, #000000 0%, #494949 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #494949 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #494949 100%);
	background-image: -ms-linear-gradient(bottom, #000000 0%, #494949 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000000),
		color-stop(1, #494949)
	);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#494949, endColorstr=#000000)";

	font-family: Arial, sans-serif; 
    padding: 0 15px;
}	
	.rtl .nav {
		padding-right: 0;
	}

	.nav table {
		width: 100%;
	}
	#head .nav {
		position: relative;
	}
.is-inner #head .nav {		
	box-shadow: 0 3px 8px #bebcb5;
}
	.nav td {
		text-align: center;
	}
	.nav .nav-item-wrapper {
		position: relative;
		display: inline-block;

		font-size: 14px;
		line-height: 18px;
		text-align: left;
		
		vertical-align: top;
	}
		.rtl .nav .nav-item-wrapper {
			text-align: right;
		}
		.nav .nav-item {
			display: inline-block;
			padding: 15px 15px 12px 15px;

			color: white;
			font-size: 20px;
			line-height: 30px;
		}
			#head .nav .nav-item {
				text-decoration: none;
			}
	.ie7 .nav .nav-item,
	.ie7 .nav .nav-item-wrapper {
		display: inline;
		zoom: 1;
	}

	#head .nav .nav-item:hover,
	#head .nav .nav-item-wrapper:hover .nav-item {
		color: black;
		background: #DB6300;
		background-image: linear-gradient(bottom, #DB6300 0%, #FDB100 100%);
		background-image: -o-linear-gradient(bottom, #DB6300 0%, #FDB100 100%);
		background-image: -moz-linear-gradient(bottom, #DB6300 0%, #FDB100 100%);
		background-image: -webkit-linear-gradient(bottom, #DB6300 0%, #FDB100 100%);
		background-image: -ms-linear-gradient(bottom, #DB6300 0%, #FDB100 100%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #DB6300),
			color-stop(1, #FDB100)
		);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FDB100, endColorstr=#DB6300)";
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FDB100, endColorstr=#DB6300);  
	}
	.ie7 #head .nav .nav-item:hover,
	.ie7 #head .nav .nav-item-wrapper:hover .nav-item {
		zoom: 1;
	}

#head .sub-nav {
	display: none;
	position: absolute;
	z-index: 100;
	top: 100%;
	width: 285px;
	padding: 10px 0;

	color: white;
	background: #f79f00;
	box-shadow: 0 2px 4px #333;
}
	.ltr #head .sub-nav {
		left: 0;
	}
	.rtl #head .sub-nav {
		right: 0;
	}
	#head .nav-item:hover + .sub-nav,
	#head .nav-item-wrapper:hover .sub-nav {
		display: block;
	}
	#head .sub-nav .sub-nav-item {
		display: block;
		padding: 6px 25px;
		color: white;
		text-decoration: none;

		font-size: 18px;
		line-height: 21px;
	}
	#head .sub-nav-item:hover,
	#head .sub-nav-item.current {
		background: #00a651;
		box-shadow: inset 0 1px 6px #007238;
	}



/* INDEX */
.promo-slider {
	position: relative;
	height: 400px;

	width: 100%;
	overflow: hidden;
}
	.promo-slider .slides_container {
		width: 980px;
		height: 400px;
		overflow: hidden;
	}
		.promo-slider .slides_control > div {
			width: 980px;
			height: 480px;
		}
	.promo-slider .pagination {
		position: absolute;
		z-index: 99;
		bottom: 0;
		padding: 15px 25px;
		background: url(../images/black-opacity.png) repeat;
	}
		.lrt .promo-slider .pagination {
			left: 0;
		}
		.rtl .promo-slider .pagination {
			right: 0;
		}
		.promo-slider .pagination li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			background: white;
			vertical-align: middle;
			border-radius: 10px;
		}
			.ie7 .promo-slider .pagination li {
				display: inline;
				zoom: 1;
			}
			.promo-slider .pagination li.current {
				background: #e67200;
			}
				.promo-slider .pagination li.current a {
					cursor: default;
				}
			.promo-slider .pagination li a {
				text-indent: -9999px;
				display: block;
				width: 20px; height: 20px;
				position: relative;
				top: -5px;
			}
			.ltr .promo-slider .pagination li a {
				left: -5px; 
			}
			.rtl .promo-slider .pagination li a {
				right: -5px;
			}

	.arabia-link {
		display: inline-block;
		color: white;
		font-size: 26px;
	}	
		a.arabia-link {
			text-decoration: none;
		}
		.ie7 .arabia-link {
			display: inline;
			zoom: 1;
		}	
		.arabia-link span {
			display: inline-block;
			padding: 15px 15px 15px 10px;
			background: black;
			height: 19px;
		}
			.ie7 .arabia-link span {
				display: inline;
				zoom: 1;
			}

		.rtl .arabia-link  {
			padding-left: 40px;
		}
			.rtl .arabia-link span {
				padding-left: 30px;
			}
		.ltr .arabia-link  {
			padding-right: 40px;
		}
			.ltr .arabia-link span  {
				padding-right: 30px;
			}	

			a.arabia-link.green-bg:hover {
				color: #00b96f;
			}
			a.arabia-link.orange-bg:hover {
				color: #FF6200;
			}

	.promo-slider .arabia-links-wrapper {
		position: absolute;
		top: 20px;
		z-index: 7;
	}
		.promo-slider .arabia-links-wrapper .arabia-link {
			margin: 15px 0;
		}
	.ltr .promo-slider .arabia-links-wrapper {
		right: 30px;
	}
	.rtl .promo-slider .arabia-links-wrapper {
		left: 30px;
	}

    .promo-head {
        margin: 0;
        font: normal 36px/1.25 Tahoma sans-serif;
    }
    	.wf-active .promo-head {
    		font-family: 'Calibri';
    	}
    	.ie7 .promo-head {
    		line-height: 1.5em;
    	}
    .promo-head .level-3,
    .promo-head .level-2,
    .promo-head .level-1 {
        padding: .15em 0;
        position: relative;
        background: black;
        color: white;
    }

    .promo-head .level-1 {
        left: -.6em;
    }
    .promo-head .level-2 {
        left: .6em;
    }
    .promo-head .level-3 {
        left: -.3em;
    }
        
    .promo-slider .promo-head {
    	position: absolute;
    	top: 80px;
    	width: 40%;
    }
    .ltr .promo-slider .promo-head {
    	left: 1.4em;
    }
    .rtl .promo-slider .promo-head {
    	right: 0.8em;
    }


#content {
	background: white;
	padding: 15px 30px;
}

.is-inner #content {
	padding: 0;
	background: #f2f0e7;
}
	.is-inner .content {
		background: white;
	}
	.is-inner .content,
	.is-inner .sidebar {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.is-inner.ltr .content {
		padding-right: 30px;
	}
	.is-inner.rtl .content {
		padding-left: 30px;
	}

	.sub-header {
		padding: 5px 20px;
		color: white;
		font-size: 24px;
		line-height: 36px;
	}
	.wf-active .sub-header {
		font-family: 'Calibri';
	}

.logo-slider-wrapper {
	position: relative;
	margin: 25px 0;
}

.shadow-head {
	display: block;
	margin: 0 320px;
	position: relative;
	height: 17px;
	background: url(../images/shadow-h-sprite.png) repeat-x;
	}
	.shadow-head:after,
	.shadow-head:before,
	.shadow-head > .ie-prepend,
	.shadow-head > .ie-append {
		content: '';
		position: absolute;
		height: 17px;
		width: 320px;
		top: 0;
		background: url(../images/shadow-h-sprite.png) no-repeat;
		}
		.shadow-head:before,
		.shadow-head > .ie-prepend {
			content: '';
			left: -320px;
			background-position:right -17px;
			}
		.shadow-head:after,
		.shadow-head > .ie-append {
			content: '';
			right: -320px;
			background-position:left -34px;
			}

.logo-slider {
	padding: 15px;
	background: #f2f0e7;
}
	.ie7 .logo-slider {
		padding-top: 0;
	}

#content .logo-slider-wrapper h2.sub-header {
	margin-bottom: 0;
}
.logo-slider table {
	width: 100%;
	font-size: 11px;
	line-height: 14px;
}
	.logo-slider table td {
		padding: 10px;
		text-align: center;
	}
	.logo-slider table tr:first-child td {
		vertical-align: middle;
	}

.partners-list ul {
	margin-top: -25px;
	margin-bottom: 40px;
	padding-left: 4px;
}
.partners-list .item {
	display: inline-block;
	width: 31%;
	padding-right: 2%;
	vertical-align: top;
	margin-top: 25px;
	margin-left: -4px;
}
	.partners-list .item img {
		margin-bottom: 10px;
		border: 1px solid lightgray;
	}
	.ie7 .partners-list .item {
		display: inline;
	}
	.ie7 .rtl .partners-list {
		zoom: 1;
	}
.partners-list p {
	line-height: 1.2em;
}

.sidebar .news {}
	.sidebar .news .item {
		margin: 20px 0;
	}
		.sidebar .news .item img {
			margin-bottom: 10px;
		}
	.sidebar .news .item .date {
		display: block;
		color: #767676;
		font-size: 12px;
	}
	.sidebar .news .item a {
		font-weight: bold;
		padding-top: 0.2em;
	}

.sidebar .fb-wrapper {
	text-align: center;
}

/* INNER */

.breadcrumb {
	color: #474747;
	font-size: 14px;
	font-style: italic;

	margin: 10px 0 25px -4px;
}
	.breadcrumb a,
	.breadcrumb span {
		display: inline-block;
		margin: 0 4px;
		padding: 0 2px;
	}
	.ie7 .breadcrumb a,
	.ie7 .breadcrumb span {
		display: inline;
		zoom: 1;
	}

.is-inner h1 {
	font-size: 30px;
	margin: 25px 0;
}

.promo-text {
	background: #f2f0e7;
	padding: 10px 20px;
	border-radius: 4px;

	font-size: 18px;
	line-height: 1.2em;
}
	.promo-text strong {
		display: block;
		font-size: 24px;
		line-height: 1.5em;
	}

.inner-nav {
	margin: 25px 10px;
	border: 5px solid #fc7701;
}
	.ie7 .inner-nav {
		width: 215px;
	}
	.inner-nav .item {
		position: relative;
		display: block;
		background: url(../images/inner-nav-item-bg.jpg) 0 0 repeat-x;
		font-size: 16px;
		line-height: 1.4em;
	}
		.ltr .inner-nav .item {
			padding: 10px 15px 8px 35px;
		}
		.rtl .inner-nav .item {
			padding: 10px 35px 8px 15px;
		}
		.not-ie7 .inner-nav .item:hover {
			color: #b81644;
			background-color: #e6e2d1;
		}
	.inner-nav .item:first-child {
		background-image: none;
	}
	.wf-active .inner-nav .item {
		font-family: 'Calibri', sans-serif;
	}
		.inner-nav .item:before,
		.inner-nav .item > .ie-prepend {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			background: #f29700;
			top: 15px;
		}
			.ltr .inner-nav .item:before,
			.ltr .inner-nav .item > .ie-prepend {
				left: 15px;
			}
			.rtl .inner-nav .item:before,
			.rtl .inner-nav .item > .ie-prepend {
				right: 15px;
			}

#footer {
	border-top: 6px solid #ff7e00;
	background: #000;
	background-image: linear-gradient(bottom, #000000 0%, #2A2A2A 100%);
	background-image: -o-linear-gradient(bottom, #000000 0%, #2A2A2A 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #2A2A2A 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #2A2A2A 100%);
	background-image: -ms-linear-gradient(bottom, #000000 0%, #2A2A2A 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000000),
		color-stop(1, #2A2A2A)
	);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2A2A2A, endColorstr=#000000)"; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2A2A2A, endColorstr=#000000);
}
	.ie7 #footer {
		zoom: 1; 
	}
.foot-nav {
	width: 100%;
}
	.ltr .foot-nav .first {
		padding-left: 15px;
	}
	.ltr .foot-nav .last {
		padding-right: 15px;
	}
	.rtl .foot-nav .first {
		padding-right: 15px;
	}
	.rtl .foot-nav .last {
		padding-left: 15px;
	}
	.foot-nav tr td {
		border-bottom: 1px solid #ff8800;
	}
	.foot-nav .nav-item {
		color: white;
		font: normal 20px/30px Tahoma, sans-serif;
		display: inline-block;
		padding: 15px;
	}
		.ie7 .foot-nav .nav-item {
			display: inline;
			zoom: 1;
		}
		.wf-active {
			font-family: 'Calibri';
		}
	.foot-nav .sub-nav li {
		position: relative;
		margin: 15px;
		padding-left: 15px;
	}
		.rtl .foot-nav .sub-nav li {
			padding-left: 0;
			padding-right: 15px;
		}
	.foot-nav .sub-nav-item {
		display: inline-block;
		vertical-align: top;
		color: white;
		font: normal 14px/18px Arial, sans-serif;
	}
		.ie7 .foot-nav .sub-nav-item {
			display: inline;
			zoom: 1;
		}
		.wf-active .foot-nav .sub-nav-item {
			font-family: 'Calibri';
		}
	.foot-nav .sub-nav-item:before,
	.foot-nav .sub-nav-item > .ie-prepend {
		content: '';
		position: absolute;
		top: 6px;
		background: #00a651;
		width: 5px; height: 5px;
	}
		.ltr .foot-nav .sub-nav-item:before,
		.ltr .foot-nav .sub-nav-item > .ie-prepend {
			left: 0;
		}
		.rtl .foot-nav .sub-nav-item:before,
		.rtl .foot-nav .sub-nav-item > .ie-prepend {
			right: 0;
		}

#footer .copy {
	color: white;
	padding: 20px;
}	
	#footer .copy a {
		color: white;
	}