body {
	color: black;
	font: italic 18px/20px 'Georgia', sans-serif;

	background: fixed url(../images/body-bg-low.jpg) center top no-repeat;
	background-size: 100% auto;
}

a {
	color: black;
	text-decoration: underline;
}
	a:hover {
		text-decoration: none;
	}

a.pseudo {
	border-bottom: 1px dotted black;
	text-decoration: none;
	display: inline-block;
}
	.ie7 a.pseudo {
		display: inline;
	}

#wrapper {
	width: 1024px;
	margin: 0 auto;
	background: white;

	box-shadow: 0 0 12px #333;
}
	#wrapper .top {

		margin: 20px 0;

		padding-top: 66px;
		background: url(../images/bg-top.png) center top no-repeat;
	}
	#wrapper .bottom {
		padding-bottom:  128px;
		background: url(../images/bg-bottom-2.png) center bottom no-repeat;
	}
	#wrapper .content {
		padding: 0 175px;
		background: url(../images/bg-center.png) center top repeat-y;
	}

.main-header {
	height: 65px;
	margin-top: -20px;
	background: url(../images/main-header.png) center top no-repeat;
}
	.main-header > span {
		visibility: hidden;
	}

.content article {
	border-top: 1px solid #bbae65;
	padding: 30px 0 20px 0;
}
	.content article h2 {
		font-size: 30px;
		padding: 8px 0 4px 0;
	}
		.content article h3 {
			font-size: 30px;
			padding: 32px 0 0 0;
		}
		.content article h2.sub-header {
			margin-bottom: 20px;
		}
	.content article p {
		margin-top: 20px;
	}

.slider h2 {
	padding: 21px 0;
	text-align: center;
}
.slider .big-photo {
	text-align: center;
}	
	.slider .big-photo img {
		display: inline-block;
		vertical-align: bottom;
		border: 3px solid #bbae65;
	}
	.ie7 .slider .big-photo img {
		display: inline;
		zoom: 1;
	}
.slider .preview {
	position: relative;
	padding: 27px 26px 37px 32px;

	text-align: center;
}	
	.slider .preview li {
		display: inline-block;
		margin: 10px;

		vertical-align: middle;
	}
		.ie7 .slider .preview li {
			display: inline;
		}
		.slider .preview li.current img {
			outline: 2px solid #bbae65; 
		}
	.slider .preview li img {
		vertical-align: bottom;
		border: 1px solid #bbae65;
	}

.slides_container {
	width: 674px;
	height: 461px;
}	
	.slides_container div {
		width: 674px;
		height: 461px;
		display: block;
	}

.js-toggleBlock {
	position: relative;
}	
	.preview .js-toggle {
		position: absolute;
		left: 50%; margin-left: -10px;

		bottom: 10px;

		font-size: 14px;
	}