@font-face {
  font-family: 'WebSymbolsLigaRegular';
  src: url("../fonts/WebSymbolsLiga-Regular.eot");
  src: url("../fonts/WebSymbolsLiga-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/WebSymbolsLiga-Regular.woff") format('woff'), url("../fonts/WebSymbolsLiga-Regular.ttf") format('truetype'), url("../fonts/WebSymbolsLiga-Regular.svg#WebSymbolsRegular") format('svg');
}
.head {
  background: #fff;
  line-height: 30px;
  vertical-align: middle;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  -ms-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  -o-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.head__inner {
  padding: 15px 0;
}
.head__menu {
  margin: 0 160px 0 240px;
}
.head__logo {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  float: left;
  width: 169px;
  height: 18px;
  font-size: 14px;
  line-height: 30px;
  padding-top: 5px;
  font-size: 0;
  line-height: 0;
}
.head__logo img {
  vertical-align: top;
}
.head__button {
  float: right;
  width: 140px;
}
.no-boxshadow .head {
  border-bottom: 1px solid #d3d3d3;
}
.lt-ie8 .head__logo {
  display: inline;
  zoom: 1;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #48d152;
  background-image: -webkit-linear-gradient(top, #48d152 0, #20b12a 100%);
  background-image: -moz-linear-gradient(top, #48d152 0, #20b12a 100%);
  background-image: -ms-linear-gradient(top, #48d152 0, #20b12a 100%);
  background-image: -o-linear-gradient(top, #48d152 0, #20b12a 100%);
  background-image: linear-gradient(top, #48d152 0, #20b12a 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 -1px 1px #2c9d34;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
  cursor: pointer;
}
.button:hover {
  background-color: #56de5f;
  background-image: -webkit-linear-gradient(top, #56de5f 0, #33c13d 100%);
  background-image: -moz-linear-gradient(top, #56de5f 0, #33c13d 100%);
  background-image: -ms-linear-gradient(top, #56de5f 0, #33c13d 100%);
  background-image: -o-linear-gradient(top, #56de5f 0, #33c13d 100%);
  background-image: linear-gradient(top, #56de5f 0, #33c13d 100%);
}
.button:active {
  background-color: #20b12a;
  background-image: -webkit-linear-gradient(top, #20b12a 0, #48d152 100%);
  background-image: -moz-linear-gradient(top, #20b12a 0, #48d152 100%);
  background-image: -ms-linear-gradient(top, #20b12a 0, #48d152 100%);
  background-image: -o-linear-gradient(top, #20b12a 0, #48d152 100%);
  background-image: linear-gradient(top, #20b12a 0, #48d152 100%);
}
.button_big {
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: bold;
}
.lightButton {
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: Arial;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b2d0f2;
  color: #0064d5;
  cursor: pointer;
}
.lightButton:hover {
  border-color: #0064d5;
}
.lightButton_big {
  padding: 15px;
  line-height: 18px;
  font-size: 14px;
}
.lt-ie8 .button,
.lt-ie8 .lightButton {
  display: inline;
  zoom: 1;
}
.layout {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font: normal 14px/1.4 Arial, sans-serif;
  padding-top: 60px;
  min-width: 960px;
}
.layout__head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500;
}
.layout__wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.layout__section {
  padding: 25px 0;
}
.layout__section_blue {
  background: #3875b7;
}
.layout__section_yellow {
  background: #fdfaef;
  border: 1px solid #eee7cb;
}
.layout__section_brown {
  background: #f8f8f8;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.layout__section_shadowed {
  background: url("../img/block-shadow.png") center bottom no-repeat;
  margin-bottom: -10px;
  padding-bottom: 45px;
}
.layout__section_search {
  padding: 14px 0;
}
.layout__searchForm {
  float: right;
  width: 300px;
}
.layout__searchForm .form__line {
  margin: 0;
}
.layout__IeWarning {
  background: #000;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  text-align: center;
}
.layout__IeWarning p {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.layout__caption {
  color: #56657d;
  margin: 25px 0;
  font-size: 36px;
  font-family: 'Ubuntu';
  font-weight: normal;
  text-align: center;
}
.layout__caption_white {
  color: #fff;
}
.layout__caption_small {
  font-size: 24px;
  text-align: left;
}
.layout__caption_division {
  text-align: left;
  margin-top: 0;
  line-height: 40px;
}
.layout__colsWrapper {
  font-size: 0;
}
.layout__col {
  display: inline-block;
  vertical-align: top;
  width: 460px;
  font-size: 14px;
  margin-left: 20px;
}
.layout__col:first-child {
  margin-left: 0;
}
.layout__sloganWrapper {
  padding: 15px 0;
}
.layout__sloganCaption {
  font-size: 18px;
  line-height: 24px;
  padding-top: 11px;
  font-weight: bold;
  margin-right: 400px;
}
.layout__footButton {
  float: right;
  margin-left: 20px;
}
.layout__division {
  padding-left: 320px;
}
.layout__divisionCaption {
  float: left;
  width: 320px;
  margin-left: -320px;
}
.layout__contentWrapper {
  position: relative;
  margin: 20px 0;
}
.layout__contentWrapper_developers {
  margin-top: 40px;
}
.layout__content {
  width: 700px;
  float: right;
}
.layout__sidebar {
  width: 220px;
  padding-right: 20px;
  float: left;
}
a {
  text-decoration: none;
  outline: 0;
}
a img {
  border: 0;
}
input:focus {
  outline: 0;
}
.nobr {
  white-space: nowrap;
}
.lt-ie8 .layout__col {
  display: inline;
  zoom: 1;
}
.i-clear:after,
.i-clear:before {
  content: '';
  display: table;
  height: 0;
  clear: both;
}
.gallery {
  overflow: hidden;
  position: relative;
}
.gallery:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;
  height: 63px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 -18px 32px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -18px 32px rgba(0,0,0,0.4);
  -ms-box-shadow: 0 -18px 32px rgba(0,0,0,0.4);
  -o-box-shadow: 0 -18px 32px rgba(0,0,0,0.4);
  box-shadow: 0 -18px 32px rgba(0,0,0,0.4);
}
.gallery__inner {
  background: #fff;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.gallery__item {
  position: relative;
  height: 600px;
}
.gallery__slidesjs {
  position: relative;
  height: 600px;
  padding-bottom: 63px;
}
.gallery__itemInner {
  padding: 40px 10px 0 10px;
  height: 560px;
  overflow: hidden;
}
.gallery__caption {
  color: #fff;
  font: normal 36px/1.2 'Ubuntu', sans-serif;
  text-align: center;
  margin: 20px 5% 10px 5%;
}
.gallery__description {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 10px 10%;
}
.gallery__featureWrapper {
  padding-top: 20px;
  overflow: hidden;
}
.gallery__featureDescription {
  color: #fff;
  margin-top: 40px;
}
.gallery__featureCaption {
  font-size: 21px;
  line-height: 1.2;
}
.gallery__preview {
  float: left;
  padding-top: 20px;
  width: 580px;
  background: #fff url("../img/gallery-preview-bg.jpg") center top no-repeat;
  text-align: center;
  -webkit-box-shadow: 0 18px 42px #000;
  -moz-box-shadow: 0 18px 42px #000;
  -ms-box-shadow: 0 18px 42px #000;
  -o-box-shadow: 0 18px 42px #000;
  box-shadow: 0 18px 42px #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 30px;
}
.gallery__learnMore {
  margin-left: 24px;
}
.gallery__buttonWrapper {
  margin: 24px 0;
}
.gallery .slidesjs-pagination {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  position: absolute;
  z-index: 30;
  left: 50%;
  bottom: 0;
  margin-left: -480px;
  width: 960px;
  padding-bottom: 10px;
  text-align: center;
  background: url("../img/block-shadow.png") center bottom no-repeat;
}
.gallery .slidesjs-pagination-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  line-height: 50px;
  height: 50px;
}
.gallery .slidesjs-pagination-item_active {
  border-bottom: 3px solid #1dad27;
}
.gallery .slidesjs-pagination-item_active .link__underline {
  border-bottom: 0;
}
.gallery .slidesjs-pagination-item_active .link {
  color: #1dad27;
}
.gallery .slidesjs-navigation {
  position: absolute;
  z-index: 15;
  width: 200px;
  height: 100%;
  top: 0;
  font-size: 0;
}
.gallery .slidesjs-navigation:after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 40%;
  background: url("../img/common-sprite.png") no-repeat;
}
.gallery .slidesjs-next {
  right: 0;
}
.gallery .slidesjs-next:after {
  right: 50%;
  margin-right: -30px;
  background-position: 0 -60px;
}
.gallery .slidesjs-previous {
  left: 0;
}
.gallery .slidesjs-previous:after {
  left: 50%;
  margin-left: -30px;
  background-position: 0 0;
}
.lt-ie8 .slidesjs-pagination-item {
  display: inline;
  zoom: 1;
}
.menu {
  white-space: nowrap;
}
.menu__sub {
  display: none;
  position: absolute;
  z-index: 10;
  width: 265px;
  left: 50%;
  top: 100%;
  margin-left: -132px;
  -webkit-border-radius: 0 4px;
  -moz-border-radius: 0 4px;
  -ms-border-radius: 0 4px;
  -o-border-radius: 0 4px;
  border-radius: 0 4px;
}
.menu__subInnerWrapper {
  margin-top: 10px;
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.menu__subInnerWrapper:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 12px rgba(0,0,0,0.25);
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__subInner {
  position: relative;
  background: #fff;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.menu__subItem {
  position: relative;
  display: block;
  padding: 7px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #0366d5;
  white-space: normal;
  line-height: 18px;
}
.menu__subItem:hover,
.menu__subItem_current {
  color: #fff;
  background: #3875b7;
}
.menu__subItem + .menu__subItem:before {
  content: '';
  position: absolute;
  width: 100%;
  top: -1px;
  height: 1px;
  background: #d5dadf;
  margin-left: -10px;
}
.menu__itemWrapper {
  position: relative;
  display: inline-block;
  margin-left: -10px;
  margin-right: 10px;
  font-size: 14px;
}
.menu__item {
  color: #56657d;
  padding: 7px 14px;
}
.menu__item_current {
  color: #fff;
  background: #3875b7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.no-boxshadow .menu__subInnerWrapper {
  outline: 1px solid #d3d3d3;
}
.lt-ie9 .menu__subInnerWrapper:after {
  display: none;
}
.lt-ie8 .menu__itemWrapper {
  display: inline;
  zoom: 1;
}
.menu__itemWrapper:hover .menu__item {
  color: #3875b7;
}
.menu__itemWrapper:hover .menu__item_current {
  color: #fff;
}
.menu__itemWrapper:hover .menu__sub {
  display: block;
}
.foot {
  background: #56657d;
  padding: 50px 0;
  text-align: center;
  color: #cfdff0;
}
.foot__inner {
  padding: 0 10px;
}
.foot a {
  color: #fff;
}
.foot a:hover {
  text-decoration: underline;
}
.foot p {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.foot__line {
  margin: 25px 40%;
}
.foot__logoWrapper {
  overflow: hidden;
  position: relative;
  bottom: -21px;
  margin-top: -21px;
}
.foot__copyrights {
  text-align: right;
}
.foot__nav {
  position: relative;
}
.footnav {
  width: 140px;
  margin: 0 auto;
}
.footnav__item {
  display: inline-block;
  margin: 0 21px;
}
.lt-ie8 .footnav__item {
  display: inline;
  zoom: 1;
}
.footnav__item:hover {
  text-decoration: underline;
}
.footnav__left,
.footnav__right {
  float: left;
  width: 370px;
}
.footnav__left {
  text-align: right;
  padding-right: 30px;
  margin-left: -400px;
}
.footnav__right {
  text-align: left;
  padding-left: 30px;
  margin-left: 100%;
}
.link {
  color: #0064d5;
}
.link__underline {
  color: #0064d5;
  border-bottom: 1px solid rgba(0,100,213,0.7);
}
.link_pseudo .link__underline {
  border-bottom-style: dotted;
}
.link_white {
  color: #fff;
}
.link_white .link__underline {
  color: #fff;
  border-bottom-color: rgba(255,255,255,0.7);
}
.link:hover .link__underline {
  border-bottom-width: 0;
}
.link_reverse .link__underline {
  border-bottom-width: 0;
}
.link_reverse:hover .link__underline {
  border-bottom-width: 1px;
}
.link_disabled .link__underline {
  color: #7d7d7d;
  border-color: #7d7d7d;
}
.no-rgba .link__underline {
  border-bottom: 1px solid #0064d5;
}
.no-rgba .link_white .link__underline {
  border-bottom: 1px solid #fff;
}
.no-rgba .link_pseudo .link__underline {
  border-bottom-style: dotted;
}
.features {
  font-size: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  margin-top: 45px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.features__item {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  width: 220px;
  vertical-align: top;
  font-size: 14px;
}
.features__caption {
  display: block;
  margin: 0 0 10px 0;
  font-size: 18px;
}
.features__caption .link__underline {
  padding-top: 0.2em;
}
.features__day {
  color: #1dad27;
  position: absolute;
  bottom: 0;
}
.features__preview {
  float: left;
  margin-top: -135px;
}
.features_start .features__item + .features__item:before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  left: -33px;
  top: 5px;
  background: url("../img/common-sprite.png") 0 -120px no-repeat;
}
.features_start .features__item {
  padding-bottom: 18px;
  padding-right: 45px;
  width: 195px;
  margin-bottom: 35px;
}
.features_start .features__item_last {
  padding-right: 0;
  width: 175px;
}
.features_benefits {
  color: #fff;
  margin-bottom: 20px;
}
.features_benefits .text {
  color: #fff;
}
.features_benefits .features__item {
  padding-top: 135px;
}
.features_benefits .features__item_last {
  padding-right: 0;
  width: 220px;
}
.features_benefits .features__caption {
  margin-top: 0;
}
.lt-ie8 .features__item {
  display: inline;
  zoom: 1;
}
.functions {
  margin: 25px 0;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  font-size: 0;
  margin-top: 40px;
  margin-left: -20px;
}
.functions__item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding-left: 80px;
  width: 380px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.functions__preview {
  float: left;
  margin-left: -70px;
}
.functions__caption {
  font-size: 18px;
  line-height: 1.2;
}
.functions__descriptionCaption {
  font-size: 18px;
  text-align: center;
}
.functions__description {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.lt-ie8 .functions__item {
  display: inline;
  zoom: 1;
}
p {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.textSection {
  margin: 40px 0;
  position: relative;
  padding-bottom: 20px;
}
.textSection:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: url("../img/text-block-shadow.png") center bottom no-repeat;
  left: 0;
  bottom: 0;
}
.textSection:first-child {
  margin-top: 0;
}
.textSection h2 {
  font-size: 18px;
}
.lt-ie9 .textSection > .text {
  position: relative;
  z-index: -1;
}
.text {
  color: #4e4e4e;
}
.text__pictureWrapper {
  text-align: center;
}
.text__pictureWrapper img {
  vertical-align: top;
}
.text__pictureWrapper_in_shadow {
  margin-bottom: -20px;
}
.text ul {
  list-style: disc outside;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 21px 0;
}
.text ol {
  list-style: decimal;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 21px 0;
}
.text li {
  margin: 14px 0;
}
.text li ol,
.text li ul {
  margin: 14px 0;
  margin-left: 16px;
}
.text a {
  color: #0366d5;
  border-bottom: 1px solid rgba(3,102,213,0.7);
}
.text a:hover {
  border-bottom: 0;
}
.text p {
  margin: 14px 0;
}
.text h1,
.text h2,
.text h3 {
  color: #56657d;
  font-family: 'Ubuntu';
  font-weight: normal;
}
.text h1:first-child {
  margin-top: 0;
}
.text__picture {
  margin: 0 20px 20px 0;
  float: left;
}
.text__picture p {
  color: #4e4e4e;
  text-align: right;
  margin-top: 0;
  font-style: italic;
}
.text blockquote {
  margin: 1.5em 0;
  padding-left: 1em;
  color: #56657d;
  border-left: 4px solid #d3d8e3;
  font-size: 16px;
  line-height: 24px;
}
.text__note {
  background: #f8f8f8;
  padding: 20px;
  margin: 1.5em 0;
  margin-left: -20px;
}
.text__note h3 {
  margin-top: 0;
  color: #56657d;
  font-size: 18px;
}
.text code {
  display: block;
  padding: 20px;
  margin: 1.5em 0;
  margin-left: -20px;
  white-space: pre;
  font-family: monospace;
  background: #fdfaef;
  border: 1px solid #eee7cb;
  border-left: 0;
  border-right: 0;
}
.text__noteInner {
  padding-left: 80px;
}
.text__noteImg {
  float: left;
  margin-left: -80px;
}
.text table {
  width: 100%;
  border-collapse: collapse;
}
.text td,
.text th {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
.text th {
  border-bottom: 1px solid #ccc;
}
.text .ico-plus,
.text .ico-minus {
  display: inline-block;
  line-height: 14px;
  font-size: 14px;
  font-style: normal;
  font-family: 'WebSymbolsLigaRegular';
}
.text .ico-plus {
  color: #3ebb46;
}
.text .ico-minus {
  color: #7d7d7d;
}
.text__picture + p + div,
.text__picture + p + p,
.text__picture + p + code,
.text__picture + p + blockquote {
  clear: left;
}
.no-rgba .text a {
  border-bottom: 1px solid #0366d5;
}
.faq {
  margin-top: -10px;
  padding-bottom: 20px;
}
.faq:before {
  content: "";
  width: 100%;
  display: table;
}
.faq__list {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  width: 400px;
  padding-left: 80px;
}
.faq__list:before {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: -80px;
  background: url("../img/common-sprite.png") -60px 0 no-repeat;
  content: '';
}
.faq__item {
  margin: 1em 0;
}
.faq__text {
  float: right;
  margin-right: -460px;
  margin-top: -10px;
  width: 460px;
  left: -1000%;
  position: relative;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  -o-box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.lt-ie8 .faq__text {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=(0))';
}
.lt-ie9 .faq__text {
  filter: alpha(opacity=0);
}
.faq__text_current {
  left: 0;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.lt-ie8 .faq__text_current {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=(1))';
}
.lt-ie9 .faq__text_current {
  filter: alpha(opacity=100);
}
.faq__text:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #e3e3e3;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 12px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 12px rgba(0,0,0,0.1);
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  position: absolute;
  z-index: 1;
  left: -6px;
  margin-top: 13px;
}
.faq__text:after {
  content: "";
  width: 0;
  height: 1px;
  background: #e3e3e3;
  position: absolute;
  z-index: 0;
  left: -50%;
  top: 19px;
}
.faq__text_current:after {
  width: 50%;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -ms-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
.faq__textInner {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 0 1.2em;
  overflow: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.faq__trigger {
  position: relative;
  background: #f8f8f8;
  z-index: 10;
  padding-right: 10px;
}
.faq__trigger_current .faq__triggerInner {
  border-bottom: 0;
  color: #56657d;
}
.faq__triggerInner {
  padding-top: 0.2em;
}
.lt-ie9 .faq__text:before {
  display: none;
}
.checker,
.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  -ms-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  -o-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  background: #fff;
}
.checker:first-child,
.radio:first-child {
  margin-left: 0;
}
.checker span,
.radio span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/common-sprite.png") -999px 0 no-repeat;
}
.checker span.checked,
.radio span.checked {
  background-position: -112px 0;
}
.checker input,
.radio input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.lt-ie8 .checker input,
.lt-ie8 .radio input {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
.lt-ie9 .checker input,
.lt-ie9 .radio input {
  filter: alpha(opacity=0);
}
.radio {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.radio span.checked {
  background-position: -112px -23px;
}
.form {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.form fieldset {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border: 0;
}
.form__line {
  position: relative;
  margin: 1em 0;
}
.form__line_size_half {
  margin-right: 50%;
}
.form__submit {
  border: 0;
  -webkit-appearance: none;
}
.form__submitWrapper {
  text-align: center;
  margin: 4em 0 2em 0;
}
.form__captchaWrapper {
  margin: 0.5em 0;
  vertical-align: top;
}
.form__text {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f4f5f6;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  -ms-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  -o-box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.45);
  font-style: italic;
}
.form__text_error {
  border-color: #f00;
}
.form__text_textarea {
  resize: none;
}
.form__checkboxWrapper {
  margin: 10px 0;
  padding-left: 25px;
}
.form__checkboxWrapper .checker,
.form__checkboxWrapper .radio {
  float: left;
  margin-left: -25px;
}
.form__label {
  display: inline-block;
  vertical-align: bottom;
  line-height: 21px;
}
.form__searchButton {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  background: url("../img/common-sprite.png") 0 -136px no-repeat;
  cursor: pointer;
}
.form__alt {
  margin-top: -10px;
  color: #596a7b;
  line-height: 17px;
  font-size: 13px;
  font-style: italic;
}
.form_search .form__text {
  padding-right: 30px;
  line-height: 30px;
  height: 30px;
}
.form_search .form__searchButton {
  position: absolute;
  right: 0;
  top: 0;
}
.form__required {
  color: #f00;
  vertical-align: top;
  margin: 0 4px;
}
.form_question .form__text {
  line-height: 35px;
  height: 45px;
  font-size: 18px;
}
.form_question .form__text_textarea {
  height: auto;
}
.form_question .form__label {
  display: block;
  margin-bottom: 5px;
}
.form_question .form__line {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__hidden {
  display: none;
}
.no-boxshadow .checker,
.no-boxshadow .radio,
.no-boxshadow .form__text {
  outline: 1px solid #d3d3d3;
}
.lt-ie8 .checker,
.lt-ie8 .checker span,
.lt-ie8 .radio,
.lt-ie8 .radio span,
.lt-ie8 .form__label {
  display: inline;
  zoom: 1;
}
.checkList {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  padding-left: 80px;
  font-size: 14px;
  list-style: none;
}
.checkList:before {
  content: "";
  float: left;
  margin-left: -70px;
  width: 45px;
  height: 42px;
  background: url("../img/common-sprite.png") -60px -40px no-repeat;
}
.checkList__item {
  margin: 1.5em 0;
}
.checkList__caption {
  font-size: 18px;
}
.checkList p {
  margin: 0.4em 0;
}
.subscribe {
  position: relative;
  padding-right: 150px;
}
.subscribe__text,
.subscribe__submit {
  font-size: 14px;
  line-height: 28px;
  height: 38px;
}
.subscribe__submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
}
.subscribe__text {
  font-family: Arial;
}
.lt-ie9 .subscribe__text {
  height: 34px;
}
.reviews {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 0;
  list-style: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 25px 0;
}
.reviews__item {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  display: inline-block;
  vertical-align: top;
  width: 258px;
  margin-left: 20px;
  padding: 0 20px;
  border: 1px solid #afb9ca;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
}
.reviews__item:after {
  position: absolute;
  z-index: -1;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 14px;
  -webkit-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  -o-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  content: "";
}
.reviews__item:before {
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 14px;
  background: #fff;
  content: "";
}
.reviews__item:first-child {
  margin-left: 0;
}
.reviews__inner:after {
  position: absolute;
  right: 20%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #afb9ca;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
}
.reviews__caption {
  font-size: 15px;
  font-weight: bold;
  padding-top: 0.2em;
  color: #0064d5;
}
.lt-ie9 .reviews__inner:after {
  display: none;
}
.lt-ie8 .reviews__item {
  display: inline;
  zoom: 1;
}
.breadcrumbs {
  margin-left: -8px;
}
.breadcrumbs__item {
  line-height: 30px;
  color: #6f6f6f;
  margin: 0 8px;
}
.breadcrumbs__item + .breadcrumbs__item:before {
  content: "/";
  margin-right: 16px;
}
.tooltip {
  position: relative;
}
.tooltip__content {
  left: -100000%;
  top: 100%;
  margin-top: 10px;
  position: absolute;
  z-index: 10;
  max-width: 210px;
  min-width: 100px;
  padding: 0 20px;
  border: 1px solid #ede3b7;
  background: #fff1c0;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  -o-box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  cursor: default;
}
.flag .tooltip__content {
  color: #222;
}
.tooltip_left .tooltip__content {
  left: auto;
  top: auto;
  right: -100000%;
  margin-top: -50%;
  margin-right: 100%;
  display: none;
}
.tooltip__content:after {
  position: absolute;
  left: 20px;
  top: 1px;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  z-index: -1;
  background: #fff1c0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
}
.tooltip_left .tooltip__content:after {
  margin-top: -10px;
  left: auto;
  right: -8px;
  top: 50%;
}
.lt-ie9 .tooltip__content:after {
  display: none;
}
.tooltip__content_opened {
  -moz-opacity: 1;
  opacity: 1;
  left: 0;
}
.lt-ie8 .tooltip__content_opened {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=1)';
}
.lt-ie9 .tooltip__content_opened {
  filter: alpha(opacity=100);
}
.tooltip_left .tooltip__content_opened {
  right: 20px;
  left: auto;
  display: block;
}
.tooltip__closeButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.tooltip__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}
.tooltip__trigger_current {
  color: #4e4e4e;
}
.tooltip__trigger_current .link__underline {
  color: #4e4e4e;
  border-bottom: 0;
}
.offers {
  font-size: 0;
}
.offers__offer {
  position: relative;
  display: inline-block;
  width: 258px;
  padding: 20px;
  border: 1px solid #eee7cb;
  margin-left: 19px;
  vertical-align: bottom;
  font-size: 14px;
}
.offers__offer:after {
  position: absolute;
  z-index: -1;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 14px;
  -webkit-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  -o-box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  box-shadow: 0 6px 21px rgba(0,0,0,0.2);
  content: "";
}
.offers__offer:before {
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 14px;
  content: "";
}
.offers__offer:first-child {
  margin-left: 0;
}
.offers__offer_small {
  background: #fdfaef;
}
.offers__offer_small:before {
  background: #fdfaef;
}
.offers__offer_small .offers__redactions {
  background: #f6f0dc;
}
.offers__offer_middle {
  background: #fff7dc;
  margin-top: 145px;
}
.offers__offer_middle:before {
  background: #fff7dc;
}
.offers__offer_middle .offers__redactions {
  background: #f5e9c1;
}
.offers__offer_big {
  background: #fff1c0;
}
.offers__offer_big:before {
  background: #fff1c0;
}
.offers__offer_big .offers__redactions {
  background: #f1e2ae;
}
.offers__caption {
  position: relative;
  color: #0064d5;
  font-size: 1.5em;
  font-family: 'Ubuntu';
  padding: 10px 0 25px 0;
  margin: 0;
  text-align: center;
}
.offers__caption:after {
  width: 285px;
  height: 9px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -142.5px;
  background: url("../img/common-sprite.png") 0 -165px no-repeat;
  content: "";
}
.offers__features {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  margin: 10px 0;
}
.offers__feature {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 1em 0;
  padding-left: 25px;
}
.offers__feature:before {
  font-size: 14px;
  line-height: 20px;
  float: left;
  margin-left: -23px;
  font-family: 'WebSymbolsLigaRegular';
  content: "Á";
  color: #3ebb46;
}
.offers__feature_disabled {
  margin-top: 2em;
}
.offers__feature_disabled:before {
  content: "Ä";
  color: #7d7d7d;
}
.offers__feature_disabled + .offers__feature_disabled {
  margin-top: 1em;
}
.offers__redactions {
  position: relative;
  background: #f6f0dc;
  margin: -20px;
  margin-top: 2em;
  margin-bottom: 8px;
  padding: 15px 20px 10px 20px;
}
.offers__redactions:after {
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 300px;
  height: 8px;
  background: url("../img/common-sprite.png") 0 -216px no-repeat;
  content: "";
}
.offers__options {
  margin: 20px 0;
}
.offers__total {
  margin-top: 20px;
  color: #56657d;
  font-size: 23px;
  font-family: 'Ubuntu';
}
.offers__totalPrice {
  float: right;
}
.offers__totalPrice_blue {
  color: #0064d5;
}
.offers__buttonWrapper {
  text-align: center;
  margin: 30px 0 15px 0;
}
.offers__badge {
  color: #afb9ca;
  width: 465px;
  height: 145px;
  position: absolute;
  right: 50%;
  bottom: 100%;
  margin-right: -30px;
  margin-bottom: -20px;
  line-height: 10px;
  font-size: 15.400000000000002px;
}
.offers__badge:after {
  position: absolute;
  right: 68px;
  top: 4px;
  width: 293px;
  height: 113px;
  background: url("../img/common-sprite.png") 0 -223px no-repeat;
  content: "";
}
.offers__badge:before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background: url("../img/common-sprite.png") -112px -48px no-repeat;
  content: "";
}
.lt-ie8 .offers__offer {
  display: inline;
  zoom: 1;
}
.defs {
  width: 100%;
  margin: 10px 0;
  color: #4e4e4e;
  font-family: 'Ubuntu';
}
.defs__term {
  vertical-align: top;
}
.defs__termInner {
  position: relative;
  overflow: hidden;
}
.defs__termInner:after {
  width: 100%;
  height: 0;
  border-bottom: 1px dotted #ababab;
  position: absolute;
  bottom: 0.2em;
  margin-left: 4px;
  content: "";
}
.defs__content {
  width: 1%;
  padding-left: 4px;
  white-space: nowrap;
  vertical-align: bottom;
  text-align: right;
  color: #56657d;
}
.defs_blue .defs__content {
  color: #0064d5;
}
.helpInfo {
  margin: 40px 60px 20px 60px;
  padding: 10px 20px;
  background: #f8f8f8;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  text-align: center;
}
.helpInfo__button {
  margin: 35px 0;
}
.helpInfo__phoneWrapper {
  font-size: 14px;
  font-weight: bold;
  color: #0064d5;
}
.helpInfo__phone {
  display: block;
  margin: 10px 0;
  color: #7d7d7d;
  font-size: 24px;
  font-weight: bold;
}
.subMenu {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
}
.subMenu__item {
  display: block;
  margin: 5px 0 5px -10px;
}
.subMenu__item_current .subMenu__inner {
  color: #fff;
  background: #3875b7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.subMenu__inner {
  display: inline-block;
  padding: 5px 10px;
}
.lt-ie8 .subMenu__inner {
  display: inline;
  zoom: 1;
}
.news {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 10px 0;
  list-style: none;
}
.news__item {
  padding-top: 20px;
}
.news__item:first-child {
  padding-top: 0;
}
.news__item_picture_right .news__inner {
  padding-left: 0;
  padding-right: 320px;
}
.news__item_picture_right .news__text {
  padding-left: 0;
  padding-right: 20px;
}
.news__item_picture_right .news__photos {
  float: right;
  margin-left: 0;
  margin-right: -330px;
}
.news__item_has_gallery .news__inner:after {
  bottom: 40px;
}
.news__item_small:after {
  display: none;
}
.news__item_small .news__inner {
  padding-left: 220px;
}
.news__item_small .news__photos {
  width: 220px;
  margin-left: -220px;
}
.news__item_small .news__photo {
  height: auto;
}
.news__item_small .news__text {
  padding-left: 20px;
}
.news__item_small .news__text h2 {
  margin-top: 0;
}
.news__inner {
  position: relative;
  padding: 0 0 0 400px;
}
.news__inner:after {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 10px;
  background: url("../img/text-block-shadow.png") center top no-repeat;
  content: "";
}
.news__text {
  padding-left: 20px;
}
.news__photos {
  float: left;
  width: 400px;
  margin-left: -410px;
  text-align: center;
}
.news__photo {
  display: block;
  vertical-align: top;
  height: 315px;
}
.news__photo img {
  vertical-align: top;
}
.news__photo_play {
  position: relative;
}
.news__photo_play:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  color: rgba(255,255,255,0.9);
  font-family: 'WebSymbolsLigaRegular';
  content: "Ù";
}
.news__gallery {
  height: 355px;
  overflow: hidden;
}
.news .slidesjs-pagination {
  height: 40px;
  text-align: center;
}
.news .slidesjs-pagination-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}
.news .slidesjs-pagination-item span {
  border-bottom: 0;
  font-size: 20px;
  line-height: 40px;
  color: #d2d8e3;
  font-family: 'WebSymbolsLigaRegular';
}
.news .slidesjs-pagination-item_active span {
  color: #0064d5;
}
.lt-ie8 .news .slidesjs-pagination-item {
  display: inline;
  zoom: 1;
}
.lt-ie9 .news .slidesjs-container {
  z-index: -1;
}
.tags {
  display: inline-block;
  margin: 0 4px;
}
.tags__item {
  display: inline-block;
  margin: 0 4px;
  padding: 0 5px;
  border: 1px solid #d2d8e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #0366d5;
}
.lt-ie8 .tags,
.lt-ie8 .tags__item {
  display: inline;
  zoom: 1;
}
.related__inner {
  padding: 0.5em 0 1.5em 80px;
}
.related__inner:before {
  float: left;
  margin-left: -80px;
  width: 58px;
  height: 58px;
  background: url("../img/common-sprite.png") no-repeat;
  content: "";
}
.related_posts .related__inner:before {
  background-position: -103px -336px;
}
.related_questions .related__inner:before {
  background-position: -162px -336px;
}
.related_questions .related__text {
  overflow: hidden;
  max-height: 0;
  padding-left: 80px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related_questions .related__text:before {
  content: "Ответ:";
  float: left;
  margin-left: -80px;
  margin-top: 14px;
  color: #56657d;
  font-style: italic;
}
.related_questions .related__text_current {
  overflow: hidden;
  max-height: 1000px;
  margin-top: -1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related__trigger_current {
  color: #4e4e4e;
  font-weight: bold;
  border-bottom: 0;
  cursor: default;
}
.related__caption {
  margin: 0.5em 0;
}
.pager {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  font-size: 0;
  margin-top: 40px;
}
.pager__item {
  display: inline-block;
  font-size: 14px;
  margin: 0 2px;
}
.lt-ie8 .pager__item {
  display: inline;
  zoom: 1;
}
.pager__link {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: #4e4e4e;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.pager__link:hover {
  border-color: #b2d0f2;
}
.pager__link_current {
  border-color: #0064d5;
}
/* fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp,
 {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
  padding-bottom: 20px;
}
.fancybox-skin {
  position: relative;
  background: #f4f4f5;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  -o-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
  height: auto !important;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  -moz-opacity: 0.8;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
.lt-ie8 #fancybox-loading {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)';
}
.lt-ie9 #fancybox-loading {
  filter: alpha(opacity=80);
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox_loading.gif") center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 8040;
  text-align: center;
}
.fancybox-close:after {
  content: "Í";
  font-family: 'WebSymbolsLigaRegular';
  font-size: 20px;
  line-height: 48px;
  color: #000;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: #000;
  background: rgba(0,0,0,0.5);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
/* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
.popup {
  margin: 0 30px 30px 30px;
}
.popup__caption {
  font-size: 24px;
}
.popup__result {
  margin: 2em 0;
}
.popup__errors {
  color: #f00;
}
.popup__success {
  color: #008000;
  text-align: center;
}
.popup__bill {
  position: relative;
  background: #ededed;
  border: 1px solid #d8d8d8;
  padding: 0 10px;
  margin: 35px 0 20px 0;
}
.popup__bill:after {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: -8px;
  width: 300px;
  height: 8px;
  background: url("../img/common-sprite.png") 0 -216px no-repeat;
  content: "";
}
.popup__billCaption {
  margin: 20px 0 0 2px;
  font-size: 18px;
}
.popup__pay {
  display: inline-block;
  padding-left: 60px;
  vertical-align: middle;
}
.popup__pay img {
  float: left;
  margin-left: -60px;
  vertical-align: middle;
}
.popup__payCaption {
  vertical-align: middle;
}
.flag {
  position: relative;
  display: inline-block;
  padding: 1px 12px 1px 7px;
  background: #27b630;
  color: #fff;
  line-height: 18px;
  font-size: 12px;
}
.flag__tenon {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 20px;
}
.lt-ie8 .flag {
  display: inline;
  zoom: 1;
}
.cat__trigger_show {
  display: inline;
}
.cat__trigger_hide {
  display: none;
}
.cat_opened .cat__trigger_hide {
  display: inline;
}
.cat_opened .cat__trigger_show {
  display: none;
}
.cat__content {
  display: none;
}
.developers {
  background: #fdfaef;
  border: 1px solid #eee7cb;
  margin-left: -20px;
  margin-right: -10px;
  margin-top: -20px;
}
.developers__inner {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  margin-left: -60px;
  font-size: 0;
}
.developers__item {
  display: inline-block;
  vertical-align: top;
  padding-left: 160px;
  width: 160px;
  margin: 30px 0 30px 60px;
  font-size: 14px;
}
.lt-ie8 .developers__item {
  display: inline;
  zoom: 1;
}
.developers__picture {
  position: relative;
  float: left;
  width: 150px;
  margin-left: -140px;
}
.developers__imgWrapper {
  width: 125px;
  height: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  -ms-border-radius: 125px;
  -o-border-radius: 125px;
  border-radius: 125px;
  overflow: hidden;
}
.developers__imgWrapper img {
  vertical-align: top;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  -ms-border-radius: 125px;
  -o-border-radius: 125px;
  border-radius: 125px;
}
.developers__name {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 15px;
}
.developers__name .link {
  padding-top: 0.3em;
}
.developers__caption {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: #56657d;
  font-size: 24px;
  margin-top: 18px;
  text-align: center;
  font-weight: normal;
  font-family: 'Ubuntu';
}
.freelancers {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 20px 0 20px -20px;
  font-size: 0;
}
.freelancers__item {
  display: inline-block;
  padding-left: 70px;
  width: 150px;
  margin: 10px 0 10px 20px;
  font-size: 14px;
  vertical-align: top;
}
.lt-ie8 .freelancers__item {
  display: inline;
  zoom: 1;
}
.freelancers__picture {
  float: left;
  width: 50px;
  margin-left: -70px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.freelancers__picture img {
  vertical-align: top;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.freelancers__caption {
  color: #56657d;
  font: normal 24px/1.2 'Ubuntu', Arial, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.freelancers__name {
  margin-top: 5px;
}
.developer {
  padding-top: 30px;
  padding-left: 160px;
}
.developer__picture {
  float: left;
  width: 125px;
  height: 125px;
  margin-left: -160px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  -ms-border-radius: 125px;
  -o-border-radius: 125px;
  border-radius: 125px;
  overflow: hidden;
}
.developer__picture img {
  vertical-align: top;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  -ms-border-radius: 125px;
  -o-border-radius: 125px;
  border-radius: 125px;
}
.developer__name {
  color: #56657d;
  font-size: 24px;
  margin: 10px 0 5px 0;
}
