.cars_list ul li {
	z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<div class="itemDecor"></div>'));
}
.itemDecor {
	width: 292px;
	height: 100%;
	position: absolute;
	top: -1px;
	z-index: -1;
	border: 1px solid #d9d9d9;
}
.brand_list li {
	zoom: 1;
	*display: inline;
}
.cars_list ul li {
	zoom: 1;
	*display: inline;
}
header nav a {
	line-height: 20px;
}