
/*   Table of contents

(c) SublimeYe, 2011
Skype: sublimeye

--------------------------------*/

/*   Global reset + holy shit ;)
--------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline}
input,button,textarea,select{margin:0;font-size:1em}
table{border-collapse:collapse;border-spacing:0}
blockquote,q{quotes:none}
dfn,i,cite,var,address,em{font-style:normal}
th,h1,h2,h3,h4,h5,h6{font-weight:normal}
/* CLEAR FIX*/
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
.cf:before, .cf:after {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
/*   Base layout
--------------------------------*/
html, body { height: 100%; }
body {min-height: 600px}

#page {
	position: relative;
	min-width: 800px;
	min-height: 100%;
	/*strange IE9 behaviour, appear scroll bars */
	overflow-x: hidden;
	overflow-y: auto;
}

.g-hidden { display: none; }
.g-center {text-align: center}
.g-ns, .g-ns_children * { -webkit-user-select:none; -moz-user-select:-moz-none; -o-user-select:none; user-select:none; outline: none}

.fl-left {float: left}
.fl-right {float:right}

.txt-device-on { color: #3d8900; }
.txt-device-off { color: #bababa; }

.xxx-smaller {
	font-size: 11px;
	font-size: 1.1rem;
}

.wide {
	width: 100%;
}

#switcher {
	position: fixed;
	left: 20px;
	top: 60px;
	z-index: 1000;
	background: silver;
}

/* SWITCHER
--------------------------------*/
#switcher li  {
	float: left;
	color: blue;
	margin-right: 15px;
}
#switcher li  a{
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

#d0:target {display: block;}
#d1:target {display: block;}
#d2:target {display: block;}
#d3:target {display: block;}
#d4:target {display: block;}
#d5:target {display: block;}

/* SWITCHER
--------------------------------*/

/*   Typography & Colors
*    (c) SublimeYe, 2011
*    Skype: sublimeye
--------------------------------*/
html {font-size: 62.5%}
body{
	font-size: 14px; font-size:1.4rem; 
	font-family: Arial,Helvetica,sans-serif; 
	line-height: 1.4em;
	color: #565656;
}
.sans{font-family:Arial,Helvetica,sans-serif}

h1,h2,h3,h4,h5,h6{color: #5a6e82;}

strong{font-weight:bold}
h1{font-size:30px;font-size: 3rem;}
h2{font-size:16px;font-size: 1.6rem;}
h3{font-size:18px;font-size: 1.8rem;}

/*   Links
--------------------------------*/
a{color:#D25C5C;text-decoration:underline}
a:hover{color:#5A5A5A}

/* GLOBAL
--------------------------------*/
li {list-style: none}
