body {
	color: #222;
	font: normal 15px/23px "Times New Roman", serif;
	background: #e0eed0 url(../images/body-bg.png) center 168px no-repeat;
}

a {
	color: #30bcf4;
	text-decoration: underline;
}
	a:hover {
		text-decoration: none;
	}

.fl { float: left; }
.fr { float: right; }
.group:after {
	content: "\0020"; 
	display: block; 
	height: 0; 
	visibility: hidden;
	clear: both;
	}

.ie7 .group {
	zoom: 1;
	}

.l-wrapper {}
	.l-wrapper > .l-content {
		float: left;
		width: 100%;
		}
		.l-wrapper > .l-content > .content {
			margin-left: 410px;	
		}
	.l-wrapper > .l-sidebar {
		float: left;
		width: 400px;
		padding-right: 10px;
		margin-left: -100%;
	}	

#wrapper {
	width: 824px;
	margin: 0 auto;
}
	#header {
		padding: 25px 0;
		text-align: center;
	}
		#header .logo {
			display: inline-block;
			height: 70px;
			width: 262px;
			padding-top: 162px;
			background: url(../images/logo-bg.png);
		}
		.ie7 #header .logo {
			display: inline;
			zoom: 1;
		}
		#header .logo > img {
			position: absolute;
			left: 50%; top: 62px;
			margin-left: -54px;
		}
		#header .logo .head {
			display: block;
			padding: 18px 0;
			color: #86c543;
			font-size: 24px;
			line-height: 24px;
			text-shadow: 0 1px 1px #577e2d;
		}

.content-wrapper {
	padding: 5px;
	position: relative;
	margin-bottom: 20px;
}		
	.content-wrapper:after,
	.content-wrapper:before,
	.content-wrapper > .ie-after,
	.content-wrapper > .ie-before {
		content: '';
		position: absolute;
		width: 4px; top: 5px; bottom: 5px;
		background: url(../images/wrapper-bg-v.png) repeat-y;
	}
		.content-wrapper:before,
		.content-wrapper > .ie-before  {
			left: 1px;
			background-position: 0 0;
		}
		.content-wrapper:after,
		.content-wrapper > .ie-after {
			right: 1px;
			background-position: -4px 0;
		}
		.content-wrapper > .inner:after,
		.content-wrapper > .inner:before,
		.content-wrapper > .inner > .ie-after,
		.content-wrapper > .inner > .ie-before {
			content: '';
			position: absolute;
			height: 5px; left: 5px; right: 5px;
			background: url(../images/wrapper-bg-h.png) repeat-x;
		}
			.content-wrapper > .inner:before,
			.content-wrapper > .inner > .ie-before {
				top: 0;
				background-position: 0 0;
			}
			.content-wrapper > .inner:after,
			.content-wrapper > .inner > .ie-after {
				bottom: 0;
				background-position: 0 -5px;
			}

#content {
	position: relative;
	padding: 45px 25px;
	background: white;
	z-index: 1;
}		
	#content > .arrow {
		position: absolute;
		width: 364px;
		left: 45px;
		top: 5px; bottom: 130px;
		padding: 25px 0 85px 0;
		background: url(../images/arrow-bg.png) repeat-y;
		z-index: 2;
	}
		#content > .arrow:after,
		#content > .arrow:before,
		#content > .arrow > .ie-after,
		#content > .arrow > .ie-before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			background: url(../images/arrow-sprite.png) no-repeat;
		}
		#content > .arrow:before,
		#content > .arrow > .ie-before {
			top: -25px; height: 25px;
			background-position: left top;
		}
		#content > .arrow:after,
		#content > .arrow > .ie-after {
			bottom: -85px; height: 85px;
			background-position: left bottom;
		}

#content > .inner {
	position: relative;
	z-index: 3;
	padding-bottom: 50px;
}

.content p {
	margin-top: 21px;
	padding-left: 10px;
}
.content p:first-child {
	margin-top: 0;
}

.content .order-info {
	font-size: 21px;
	line-height: 28px;
	text-align: center;

	margin: 50px 0;
}
	.content .order-info strong {
		display: block;
		font-weight: bold;
		font-size: 22px;
	}

.border {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 16px 0;
	width: 352px;
}
	.border > .inner {
		padding: 0 16px;
		background: url(../images/border-bg.png) repeat-y;
	}
	.ie7 .border {
		display: inline;
		zoom: 1;
	}
	.border:before,
	.border:after,
	.border > .ie-after,
	.border > .ie-before {
		content: '';
		position: absolute;
		left: 0; 
		width: 100%;
		height: 16px;
		background: url(../images/border-sprite.png) no-repeat;
	}
	.border:before,
	.border > .ie-before {
		top: 0;
		background-position: left top;
	}
	.border:after,
	.border > .ie-after {
		bottom: 0;
		background-position: left bottom;
	}

.ribbon-wrapper {
	padding: 95px 33px 5px 37px;
	background: url(../images/ribbon-bg.png) no-repeat;
}	

.offers {
	text-align: center;
}
	.offers > li {
		display: inline-block;
		vertical-align: top;

		color: #e40017;
		font-size: 18px;
		text-align: center;
		margin: 10px 16px;
	}
		.offers > li strong {
			font-weight: bold;
		}
	.ie7 .offers > li {
		display: inline;
		zoom: 1;
	}

.map {
	width: 762px;
	height: 265px;
	margin-bottom: 30px;
}	

.metro-list-wrapper {
	border-bottom: 1px dashed #c8c7c7;
	margin-top: 30px;
	padding-left: 10px;
}

.metro-list {
	margin: 8px 0 27px 0;
}
	.metro-list > li {
		display: inline-block;
		padding-left: 23px;
		background: url(../images/metro-ico.png) left center no-repeat;
		margin-right: 6px;
	}
	.ie7 .metro-list > li {
		display: inline;
		zoom: 1;
	}

.product-slider {
	margin: 30px 0;
	width: 330px;
}	
	.product-slider .slides_container {
		border: 4px solid white;
		width: 330px;
		height: 228px;
		overflow: hidden;
		position: relative;
	}
	.product-slider .slides_control > div {
		width: 330px;
		height: 228px;
	}
	.product-slider .slides_container img {
		vertical-align: bottom;
	}
	.product-slider .info {
		position: absolute;
		left: 0; top: 0;
		z-index: 5;
		width: 137px; height: 100%;
		padding: 10px 0 0 10px;
	}
	.product-slider .info:after,
	.product-slider .info > .ie-after {
		content: '';
		position: absolute;
		left: -1px; top: 0;
		width: 137px;
		height: 100%;
		background: url(../images/white-gradient.png) repeat-y;
		z-index: -1;
	}
	.product-slider .info p {	
		color: #677640;
		font: italic 12px/14px Georgia, sans-serif;
		margin-bottom: 14px;
	}
	.product-slider .info .header {
		color: #677640;
		font-size: 14px;
	}
	.product-slider .info .price {
		color: #6b4f41;
	}
	.product-slider .info .price span {
		display: block;
		font-size: 15px;
	}

.product-slider .pagination {
	margin: 10px 0 0 -9px;
	padding: 0 3px 0 5px;
	font-size: 0;
}
	.product-slider .pagination li {
		display: inline-block;
		margin-left: 9px; margin-bottom: 9px;
	}	
		.product-slider .pagination li img {
			vertical-align: bottom;
		}
	.product-slider .pagination li.current {
		outline: 1px solid #8c0308;
	}	
	.ie7 .product-slider .pagination li {
		display: inline;
		zoom: 1;
	}