html {
    overflow-y: scroll;
}

body {
    margin: 0;
	background:url(gridbg.gif);
    color:#3d3d3d;
}

body, textarea {
    font: 12px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

a {text-decoration: underline;color: #155596;}
a:hover,a:focus {text-decoration: none;}
a:focus {outline:1px dotted;}

img {max-width:100%;border:0;}


h1,h2,h3,h4,h5,h6,form,legend,fieldset {
    margin:0;padding:0;border:0;
	font-weight:normal;
    font-size:100%;
}


.b-demo {
    width: 800px;
    margin: 4.5em auto;
}

.b-demo__area {
     background: #f7f7f7;
     margin-bottom: 18px;
     padding: 18px;
     border:1px solid #f5f5f5;
     border-bottom: 1px solid #d6d6d6;
     overflow: hidden;
     display:block;
     border-radius:3px;
     _zoom:1;
}

.b-example {
    margin-left:-18px;
}

.b-example__block {
    padding: 9px;
    background: rgba(0, 0, 0, 0.15);

    font-size: 11px;
    line-height: 18px;
    margin: 0 0 18px 18px;
    text-align: center;
}

.b-demo__example {
    padding: 9px;
    background: rgba(0, 0, 0, 0.15);

    font-size: 11px;
    line-height: 18px;
    text-align: center;
}

.b-example__wrap {
    text-align: center;
    display: block;
    text-decoration: none;
}

.b-example__img {
    display: block;
    margin: auto;
}





/*------------------------------------------------------------------------------------
*/

.b-demo-article h1, .b-h1,
.b-demo-article h2, .b-h2,
.b-demo-article h3, .b-h3 {
     text-shadow: rgba(0, 0, 0, 0.136719) 0 1px 1px;
}


.b-h1,
.b-h2,
.b-h3,
.b-h4,
.b-h5,
.b-h6,
.b-demo-article h1,
.b-demo-article h2,
.b-demo-article h3,
.b-demo-article h4,
.b-demo-article h5,
.b-demo-article h6 {
    padding:0; margin:0;
    display: block;
    font-weight:bold;
	color:#4d4d4d;
}



.b-demo-article h1,.b-h1 {font-size: 49px;line-height: 36px;margin-bottom: 54px;color: #30C5F2;letter-spacing: -2px;}
.b-demo-article h2,.b-h2 {font-size: 2em;margin-bottom: 0.75em;line-height:2.25em;color: #555;letter-spacing: -1px;}
.b-demo-article h3,.b-h3 {font-size: 1.5em; line-height: 1; margin-bottom: 1em;color: #555;letter-spacing: -1px;}
.b-demo-article h4,.b-h4 {font-size: 1.25em; line-height: 1.3; margin-bottom: 1.25em;}
.b-demo-article h5,.b-h5 {font-size: 1em; font-weight: bold; margin-bottom: 1.5em;}
.b-demo-article h6,.b-h6 {font-size: 1em; font-weight: bold;}


.b-demo-article p,
.b-demo-article hr,
.b-demo-article pre,
.b-demo-article blockquote,
.b-demo-article ol,
.b-demo-article ul,
.b-demo-article dl,
.b-demo-article table {margin:1.5em 0 1.5em;}

.b-demo-article hr {
    display:block;
    width: 100%;
    height:1px;
    border:0;
    padding:0;
    border-top:1px solid #ddd;
    margin-top: -2px;
}

.b-demo-article blockquote {
    padding: 0 0 0 1.5em;
    margin-left: 1.5em;
    border-left: 1px solid #CCC;
    font-style: italic;
}

.b-demo-article ol,
.b-demo-article ul {padding: 0;margin:0 0 1.5em 0;}
.b-demo-article ul {list-style: square;}
.b-demo-article li {
    margin:0 0 1.5em 1.5em;
}

.b-demo-article ul ul,
.b-demo-article ol ul,
.b-demo-article ul ol,
.b-demo-article ol ol {
    margin:1.5em 0 1.5em 1.5em;}



.b-demo-article dt {margin:0 0 0 0;}
.b-demo-article dd {margin:0 0 0 1.5em;}


.b-demo-article b,.b-demo-article strong {font-weight: bold;}
.b-demo-article i,.b-demo-article em {font-style: italic;}

.b-demo-article q:before,
.b-demo-article q:after {content:'\0022';}

.b-demo-article ins {background-color:#ff9; color:#000; text-decoration:none;}
.b-demo-article mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}


.b-demo-article pre,.b-demo-article  code,.b-demo-article  kbd,.b-demo-article  samp {font-family:  'Courier New', Courier, monospace;}
.b-demo-article code {
    background: #fff;
    white-space:nowrap;
    border-radius: 3px;
    padding: 2px 3px;
    border: 1px solid #e6e9ee;
    font-size: 1em;
}

.b-demo-article pre {
    background: #F1F6FE;
    overflow: hidden;
    border: 1px solid #D8DDE4;
    padding: 8px;
    font-size: 11px;
    line-height: 18px;
    margin: 18px 0;
}


.b-demo-article abbr,
.b-demo-article dfn[title] { border-bottom:1px dotted; cursor:help; }

.b-demo-article dfn {color: #999;}

.b-demo-article sup,
.b-demo-article sub {vertical-align: middle;position: relative;font-size: 75%;}
.b-demo-article sup { bottom: 0.5em; }
.b-demo-article sub { top: 0.5em; }


.b-demo-article small { font-size:80%; }
.b-demo-article var,
.b-demo-article address {font-style: normal;}


.b-demo-article table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.b-demo-article table td,
.b-demo-article table th {
    padding: 9px;
    border: 1px dotted #ccc;
}
.b-demo-article table { margin: 0 0 1.2em 0 }
.b-demo-article caption,
.b-demo-article th,
.b-demo-article td { text-align: left }
.b-demo-article thead th,
.b-demo-article thead td { background: #eee }
.b-demo-article caption {
    padding: 0 0 0.75em;
    font-size: 1em;
    font-weight: bold;
}

.b-note {
    color: #666;
    font-size: 11px;
    line-height: 18px;
}

.b-hr {height:0;border-top:1px dashed #eee;}
.i-left { float: left;margin-right:20px;margin-bottom:10px; }
.i-right { float: right;margin-left:20px;margin-bottom:10px; }
.i-center {display:block;margin:auto;}
br { clear: both }



.b-article__b,
.b-article__e,
.b-article__m,
.b-article__v {
    cursor: help;
}

.b-article__b::after,
.b-article__e::after,
.b-article__m::after,
.b-article__v::after {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px 3px 3px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #FFF;
    margin-top: -24px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    font-family:Arial, sans-serif;
    font-size: 11px;
}

.b-article__b:hover::after,
.b-article__e:hover::after,
.b-article__m:hover::after,
.b-article__v:hover::after {
    opacity: 1;
    visibility: visible;
}

.b-article__b { color: #ec471b }
.b-article__e { color: #6aa84f }
.b-article__m { color: #0064cd }
.b-article__v { color: #9900ff }

.b-article__b::after {content: 'Блок';}
.b-article__e::after {content: 'Элемент';}
.b-article__m::after {content: 'Модификатор';}
.b-article__v::after {content: 'Значение модификатора';}

/*------------------------------------------------------------------------------------
*/
.i-clear:before, .i-clear:after {content: "\0020"; display: block; height: 0; visibility: hidden;}
.i-clear:after {clear: both;}
* html .i-clear {zoom: 1;}

.i-indent {margin-bottom: 18px;}


.i-expand_on .b-info__head {
    border: solid #ddd;
    border-width: 1px 1px 0 1px;
    margin-bottom: -1px;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.b-info__head {
    color: #3d3d3d;
    text-decoration: none;
    display: inline-block;
    position:relative;
    font-size: 11px;
    line-height: 18px;
    padding: 8px;
    background: #F9F9F9;
    border: 1px solid;
    border-color: #fff #eee #bbb #eee;
    box-shadow: 0 1px 0 rgba(0,0,0,.05), 0 -1px 2px rgba(0,0,0,.07) inset;
    border-radius: 3px;
}

.b-info__head:hover {
    background: #f5f5f5;
}
.b-info__head:focus {
    outline:none;
}

.b-info__data {
    background: #F9F9F9;
    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 3px;
    border-top-left-radius:0;
}
