body {
	background: #eef0f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#eef0f3), to(#d4dbe0));
	background: -moz-linear-gradient(top,  #eef0f3,  #d4dbe0);
    background-image: -o-linear-gradient(top,  #eef0f3,  #d4dbe0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef0f3', endColorstr='#d4dbe0');	
	
	font-size: 62.5%;
	font-family: 'PT Serif', 'Georgia', serif; 	
}

html, body, #webo, #webo > .inner-wrapper {
	height: 100%;
	min-height: 700px;
}
/*
@font-face {
    font-family: 'PTBold';
    src: url('pt_serif-web-bold-webfont.eot');
    src: url('pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_serif-web-bold-webfont.woff') format('woff'),
         url('pt_serif-web-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTRegular';
    src: url('pt_serif-web-regular-webfont.eot');
    src: url('pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_serif-web-regular-webfont.woff') format('woff'),
         url('pt_serif-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/
#webo {
	min-width: 1000px;
	max-width: 1280px;
	margin: 0 auto;
	
	background: url(../images/content-inner-bg.png) 30% center no-repeat;
	background-size: auto 100%;	
}
	#webo .inner-wrapper {
		background: url(../images/content-bg.png) right top no-repeat;
		background-size: auto 100%;		
	}
	#webo .inner {
		padding: 5% 50% 0 2%;		
		position:relative;
	}
	#webo .header {
		font-size: 1.4em;
		line-height: 1.4em;
		
		overflow:hidden;
		*zoom: 1;
		
		padding-right: 50px;
		min-height: 100px;
	}
		#webo .header .logos {
			position: absolute;
			height: 100px; width: 230px;
			left: 48%; margin-left: -100px;
		}
			#webo .header .logos > li {
				float:left;
				margin-left: 20px;
				width: 100px;
			}
				#webo .header .logos > li:first-child {
					margin-left: 0;
				}
		#webo .header > p {
			padding: 0 100px 0 4px;
			margin: 21px 0;
		}	
			
#webo h1 {
	font-family: 'PT Serif Caption', 'Georgia', serif;
	font-size: 4.4em;
	line-height: 1.1em;
	
	padding: 10% 0;
}	

#webo .login {
	width: 50%;
	padding: 5% 0;
	margin-left: 5px;
	
	font-size: 1.5em;
	line-height: 1.8em;
	font-family: 'Arial', sans-serif;
}
#webo .login .form-line {
	padding: 0.5em 0;
}	
	#webo .login label {
		position: relative;
		padding-right: 20px;
	}
		#webo .login label > input[type=checkbox] {
			position:absolute;
			right: 0; top: 3px;
		}
	#webo .login .button {
		float: right;
	}

#webo .button {
	font-family: 'Arial';
	font-size: 0.9em;
	line-height: 16px;
		
	display: inline-block;
	*zoom: 1;
	height: 42px;
	padding-left: 15px;
	background: url(../images/button-sprite.png) left -42px no-repeat;
}
	#webo .button > span {
		display: inline-block;
		*zoom: 1;
		padding: 9px 25px 17px 10px;
		height: 16px;
		background: url(../images/button-sprite.png) right top no-repeat;
	}	
	#webo .button input {
		display:inline-block;
		*zoom: 1;
		height: 16px;
		color: white;
		text-shadow: 0 -1px 1px gray;
		background: transparent;
	}

#webo .form-line .button {
	margin-right: -20px;
}

#webo .form-line label {
	position: relative;
	top: 4px;
}
	
#webo .text-input-wrapper {
	padding: 0.5em 10px 0.5em 0;
}		
	#webo .text-input {
		padding: 0 5px;
		background: white;
		border-radius: 3px;
		box-shadow: inset 0 1px 2px gray;
		border: 1px solid #e4ead3;
		*border: 1px solid black;
		width: 100%;
		margin-right: -10px;
		height: 30px;
	}
	#webo .text-input:focus {
		outline: none;
		border: 1px solid #f0b22d;
	}
	
#webo .nobr {
	white-space: nowrap;
}
	
	

	
	
