.nobr {
  white-space: nowrap;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
.i-hide {
  font-size: 0;
  line-height: 0;
}
.layout {
  background: #f4f4f4 url("../img/layout-bg.jpg") repeat;
  font: normal 18px/1.4 'PT Sans Narrow', Arial, sans-serif;
  height: 100%;
  min-width: 1000px;
}
.layout__wrapper {
  min-width: 960px;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.layout__underMap {
  position: relative;
}
.layout__contentWrapper {
  min-height: 100%;
  height: auto;
}
.layout__content {
  padding-bottom: 90px;
}
.layout__foot {
  height: 50px;
  padding: 20px 0;
  margin-top: -90px;
}
.layout__map {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.layout__back_top {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 100%);
}
.layout__back_bottom {
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
}
.layout__caption {
  margin: 0 0 0.2em 0;
  font-weight: 700;
  font-size: 2em;
}
.layout__caption_page {
  margin-top: 25px;
}
.imgWrapper {
  display: inline-block;
  overflow: hidden;
  border: 2px solid #fff;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.25);
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  width: 120px;
  height: 120px;
}
.lt-ie8 .imgWrapper {
  display: inline;
  zoom: 1;
}
.projects {
  list-style: none;
  padding: 0;
  margin: -2% 0 25px 0;
}
.projects__item {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding-right: 3%;
  padding-top: 3%;
}
.projects__preview {
  float: left;
  margin-right: 25px;
}
.head {
  position: relative;
  padding: 25px 40% 25px 150px;
}
.head__teaser {
  font-size: 21.599999999999998px;
  text-shadow: 0 2px 3px #fff;
}
.head__avatar {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  margin-left: -150px;
  margin-top: -60px;
  overflow: hidden;
  border: 2px solid #fff;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.25);
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
.head__contacts {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
}
.link .link__underline {
  color: #0080ce;
  border-bottom: 1px solid #b2ccf0;
}
.link :hover .link__underline {
  border-bottom: 0;
}
.contacts {
  width: 40%;
  text-align: right;
}
.contacts__item {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
  line-height: 32px;
  margin: 4px 8px;
  text-align: left;
}
.contacts__item_first {
  margin-right: 21px;
}
.contacts__item:before {
  content: '';
  width: 32px;
  height: 32px;
  float: left;
  margin-left: -40px;
  background: url("../img/icons.png") no-repeat;
}
.contacts__item_ico_skype:before {
  background-position: 0 -32px;
}
.contacts__item_ico_tw:before {
  background-position: 0 -64px;
}
.contacts__item_ico_mail:before {
  background-position: 0 0;
}
.contacts__item_ico_notepad:before {
  background-position: 0 -96px;
  width: 36px;
}
.skills {
  list-style: none;
  margin: 0;
  margin-left: -12px;
  padding: 0;
}
.skills__item {
  display: inline;
  margin: 0 0 0 12px;
}
.skills__item + .skills__item:before {
  content: '/';
  margin-right: 14px;
}
.foot__text {
  text-shadow: 0 1px 1px #fff;
}
.foot__copy {
  display: block;
  margin-left: -16px;
}
.foot__share {
  float: right;
}
