.foot-nav__item,
.button,
.auth__reg,
.auth__enter,
.sochial__list,
.sochial__head,
.sochial__item,
.sochial__ico,
.main-nav__holder,
.main-nav__item,
.tags__item,
.breadcrumbs__item,
.post-info__item,
.tags,
.user-actions__item,
.user-menu__item,
.dib,
.elastic__item,
.preview-list__item,
.comments_related .comments__item,
.avatar-wrapper,
.score dd,
.filter__item {
	display: inline;
	zoom: 1;
}

.rules-text__item {
	width: 44.9%;
}

.page__content-wrapper {
	position: relative;
	z-index: 1;
}

.status-tag {
	vertical-align: top;
	margin-top: 5px;
}

.sochial__ico {
	line-height: 0;
}

.main-nav__holder_active .main-nav__item,
.main-nav__holder.expanded .main-nav__item {
	line-height: 34px;
}

.ie-gum {
	width: 100%;
	display: inline;
	height: 0;
	visibility: hidden;
}

.profile-form__col {
		width: 49.9%;
		float: left;
	}
		.profile-form__line .profile-form__col:first-child {
			width: 44.9%;
			padding-right: 5%;
		}
.profile-form__preview-wrapper {
	margin-left: 21.5%;
}		

.promo-wrapper .promo-list > li {
	display: inline;
	zoom: 1;
}

.input {
	padding-right: 8px;
}
.input .input__text {
	margin-right: -8px;
}
.input_big {
	padding-right: 22px;
}
.input_big .input__text {
	margin-right: -22px;
}