/* Written by Viktor Karpov (viktor.s.karpov@gmail.com) in September-October, 2012 */

/* LAYOUT */
html, body {
	height: 100%;
}
	body {		
		background: url(../i/pattern-bg.jpg) repeat;
		cursor: default;
	}
	#w {
		height: auto;
		min-height: 100%;
		min-width: 1000px;

		background: url(../i/header-bg.jpg) repeat-x;
	}
	#c {
		position: relative;
		z-index: 1;
		padding-bottom: 85px;
	}
		#h {
			position: relative;
			height: 125px;
			z-index: 2;

			box-shadow: 0 1px 4px #333;
		}
	#f {
		clear: auto;
		height: 85px;
		margin-top: -85px;
		min-width: 1000px;
		position: relative;
		background: url(../i/footer-bg.jpg) 0 0 repeat-x;
	}


.page__wrapper {
	min-width: 880px;
	max-width: 1160px;
	padding: 0 5%;
	margin: 0 auto;
	position: relative;
}	
	#h > .page__wrapper {
		background: url(../i/header-bg-women.png) right top no-repeat;
	}

.page__h {
	padding-top: 22px;
	height: 60px;
}
#f {
	overflow: hidden;
}
#f .page__f > i {
	position: absolute;
	width: 240px;
	right: 0; top: 0;
	border-top: 3px solid #F3B922;
}
#f > i {
	left: 50%; top: 0;
	width: 100%;
	display: block;
	position: absolute;
	border-top: 3px solid #F3B922;
}

.page__f {
	position: relative;
	overflow: hidden;
	padding-top: 22px;
}
.page__h {
	height: 60px;
}
.page__menu {
	height: 44px;
	position: relative;
}
.page__main-content {
	padding-top: 21px;
	padding-bottom: 21px;
}
.page__content-wrapper {
	float: left;
	width: 100%;
}
.page__content {
	margin-right: 240px;
	padding-right: 21px;
}
.page__sidebar {
	float: left;
	width: 240px;
	margin-left: -240px;
}

.group:before,
.group:after {
	display: table;
	content: "";
}
.group:after {
	clear: both;
}

.elastic {
	text-align: justify;
}
	.elastic__holder {
		display: inline;
	}
	.elastic__item {
		display: inline-block;
	}
.elastic:after {
	content: "&nbsp;";
	margin-left: 100%;
	height: 1px;
	overflow: hidden;
	display: inline-block;
}	

.fl {
	float: left;
}
.fr {
	float: right;
}
.cl {
	clear: both;
}
.dib {
	display: inline-block;
}
.i-hide {
	display: none;
}

/* TYPO */
body {
	color: #363534;
	font: normal 12px/1.5em Arial, sans-serif;
}	

a {
	text-decoration: none;
	outline: none;
}

.link .link__underline,
.link.link__underline {
	text-decoration: underline;
}
	.link:hover .link__underline,
	.link.link__underline:hover {
		text-decoration: none !important;
		border-bottom: 0 !important;
	}

.link_purple {
	 color: #A03366;
}
.link_orange {
	color: #df8a25;
}
.link_black {
	color: #363534;
}

.link.link_active .link__underline {
	border-bottom: 0;
	color: #363534;
}

.link.link_dashed .link__underline {
	line-height: 1.2em;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

.link.link_bordered .link__underline,
.link.link_bordered.link__underline {
	line-height: 1em;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.link_purple .link__underline {
	border-bottom-color: #d877a7;
}

.active.link .link__underline {
	text-decoration: none;
	border-bottom-width: 0;
	cursor: default;
}
.active.link_purple {
	color: #333;
}

.h__h1 {
	font-size: 30px;
	line-height: 1.0em;
}
.h__h2 {
	font-size: 18px;
	line-height: 1.0em;
}

/* COMMON */
.button {
	display: inline-block;
	border-radius: 3px;

	height: 27px;
	line-height: 27px;
	font-size: 14px;
	padding: 0 12px;

	outline: none;
}
	.button > span {
		line-height: 27px;
		font-size: 14px;
	}
	.button_pink {
		background: #ee8fc6;
		background: -moz-linear-gradient(#ee8fc6, #df4c93);
		background: -ms-linear-gradient(#ee8fc6, #df4c93);
		background: -o-linear-gradient(#ee8fc6, #df4c93);
		background: -webkit-linear-gradient(#ee8fc6, #df4c93);

		color: #73304f;
		text-shadow: 1px 1px 2px #ee8fc6;
	}
		.button_pink:active {
			background: #df4c93;
			background: -moz-linear-gradient(#df4c93, #ee8fc6);
			background: -ms-linear-gradient(#df4c93, #ee8fc6);
			background: -o-linear-gradient(#df4c93, #ee8fc6);
			background: -webkit-linear-gradient(#df4c93, #ee8fc6);
		}
	.button_gray {
		background: #dadfe3;
		background: -moz-linear-gradient(#dadfe3, #bbc3ca);
		background: -ms-linear-gradient(#dadfe3, #bbc3ca);
		background: -o-linear-gradient(#dadfe3, #bbc3ca);
		background: -webkit-linear-gradient(#dadfe3, #bbc3ca);

		color:#434855;
		text-shadow: 1px 1px 2px #ebeef0;
	}
		.button_gray:active {
			background: #bbc3ca;
			background: -moz-linear-gradient(#bbc3ca, #dadfe3);
			background: -ms-linear-gradient(#bbc3ca, #dadfe3);
			background: -o-linear-gradient(#bbc3ca, #dadfe3);
			background: -webkit-linear-gradient(#bbc3ca, #dadfe3);
		}
	.button_orange {
		background: #f7ce27; 
		background: -moz-linear-gradient(#f7ce27, #f0a617);
		background: -ms-linear-gradient(#f7ce27, #f0a617);
		background: -o-linear-gradient(#f7ce27, #f0a617);
		background: -webkit-linear-gradient(#f7ce27, #f0a617);
		
		text-shadow: 0 0 1px white;
	}
		.button_orange:active {
			background: #f0a617; 
			background: -moz-linear-gradient(#f0a617, #f7ce27);
			background: -ms-linear-gradient(#f0a617, #f7ce27);
			background: -o-linear-gradient(#f0a617, #f7ce27);
			background: -webkit-linear-gradient(#f0a617, #f7ce27);
		}	

.button.fr {
	margin-left: 12px;
}
.button.fl {
	margin-right: 12px;
}

.ico {
	position: relative;
}
	.ico:after,
	.ico:before,
	.ico > i  {
		display: inline-block;
		*zoom: 1;
		vertical-align: middle;
		background: url(../i/ico-sprite.png) -9999px 0 no-repeat;
	}
	.ico_date:before,
	.ico_date > i {
		content: '';
		margin-right: 8px;
		margin-top: -3px;
		width: 16px; height: 16px;
		background-position: 0 0;
	}
	.ico_people:before,
	.ico_people > i {
		content: '';
		margin: 0 4px;
		width: 14px; height: 14px;
		background-position: 0 -16px;
		margin-top: -2px;
	}
	.ico_comment:before,
	.ico_comment > i {
		content: '';
		margin: 0 4px;
		width: 16px; height: 12px;
		background-position: 0 -30px;
	}
	.ico_write:before
	.ico_write > i {
		content: '';
		margin-right: 4px;
		width: 16px; height: 17px;
		background-position: 0 -42px;
	}
	.ico_search:before,
	.ico_search > i {
		content: '';
		margin-right: 4px;
		width: 16px; height: 16px;
		background-position: 0 -59px;
	}
	.ico_profile:before,
	.ico_profile > i {
		content: '';
		margin-right: 14px;
		width: 23px; height: 26px;
		background-position: 0 -93px;
	}
		.ico_profile.active:before,
		.ico_profile.active > i {
			background-position: 0 -436px;
		}
	.ico_messages:before,
	.ico_messages > i {
		content: '';
		margin-right: 14px;
		width: 26px; height: 19px;
		background-position: 0 -119px;
	}
		.ico_messages.active:before,
		.ico_messages.active > i {
			background-position: 0 -461px;
		}
	.ico_articles:before,
	.ico_articles > i {
		content: '';
		margin-right: 14px;
		width: 26px; height: 26px;
		background-position: 0 -138px;
	}
		.active.ico_articles:before,
		.active.ico_articles > i {
			background-position: 0 -282px;
		}
	.ico_rates:before,
	.ico_rates > i {
		content: '';
		margin-right: 12px;
		width: 26px; height: 26px;
		background-position: 0 -164px;
	}
		.active.ico_rates:before,
		.active.ico_rates > i {
			background-position: 0 -353px;
		}
	.ico_subscr:before,
	.ico_subscr > i {
		content: '';
		margin-right: 14px;
		width: 26px; height: 26px;
		background-position: 0 -190px;
	}
		.ico_subscr.active:before,
		.ico_subscr.active > i {
			background-position: 0 -480px;
		}
	.ico_my-msg:before,
	.ico_my-msg > i {
		content: '';
		margin-right: 14px;
		width: 26px; height: 23px;
		background-position: 0 -216px;
	}
		.active.ico_my-msg:before,
		.active.ico_my-msg > i {
			background-position: 0 -259px;
		}
	.ico_vote:before,
	.ico_vote > i {
		content: '';
		margin-right: 5px;
		width: 11px; height: 11px;
		background-position: 0 -248px;
	}
		.ico_vote-gray:before,
		.ico_vote-gray > i {
			background-position: -11px -248px;
		}
	.ico_ok:before,
	.ico_ok > i {
		content: '';
		margin-right: 10px; margin-top: -5px;
		width: 15px; height: 14px;
		background-position: 0 -308px;
	}
	.ico_cancel:before,
	.ico_cancel > i {
		content: '';
		margin: -2px 10px 0 2px;
		width: 14px; height: 14px;
		background-position: 0 -322px;
	}
	.ico_clock:before,
	.ico_clock > i {
		content: '';
		margin-right: 10px;
		width: 16px; height: 16px;
		background-position: 0 -336px;
	}
	.ico_column-chart:before,
	.ico_column-chart > i {
		content: '';
		margin-right: 10px; margin-top: -9px;
		width: 26px; height: 26px;
		background-position: 0 -379px;
	}
	.ico_plus:before,
	.ico_plus > i {
		content: '';
		margin-right: 10px;
		width: 15px; height: 14px;
		background-position: 0 -405px;
	}
	.ico_minus:before,
	.ico_minus > i {
		content: '';
		margin-right: 10px;
		width: 15px; height: 15px;
		background-position: 0 -419px;
	}
	.ico_new:before,
	.ico_new > i {
		content: '';
		margin-right: 10px;
		width: 26px; height: 25px;
		background-position: 0 -508px;
	}
	.ico_upload:before,
	.ico_upload > i {
		content: '';
		margin-right: 9px;
		width: 22px; height: 21px;
		background-position: 0 -535px;
	}	
		.ico_upload.active:before,
		.ico_upload.active > i {
			background-position: 0 -556px;
		}
	.ico_earth:before,
	.ico_earth > i {
		content: '';
		margin-right: 9px;
		width: 22px; height: 21px;
		background-position: 0 -577px;
	}	
		.ico_earth.active:before,
		.ico_earth.active > i {
			background-position: 0 -598px;
		}

.status {
	display: inline-block;
	position: relative;	
	padding-left: 26px;	
}
.status__ico {
	position: absolute;
	background: url(../i/ico-sprite.png) no-repeat;
	top: 50%;
	left: 0;
}
	.status_ok .status__ico {
		width: 15px; height: 14px;
		margin-top: -9px;
		background-position: 0 -308px;
	}
	.status_cancel .status__ico {
		width: 14px; height: 14px;
		margin-top: -7px;
		background-position: 0 -322px;
	}
	.status_clock .status__ico {
		width: 16px; height: 16px;
		margin-top: -8px;
		background-position: 0 -336px;
	}

.input__text {
    display:block;
    width: 100%;
    margin:0;

    border:1px solid #ddd;
    padding:3px;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

    color: #363c49;
    background: white;
}

	input.input__text:focus,
	textarea.input__text:focus {
		box-shadow: inset 0 0 4px #d04a8b;
	}
	input.input_big .input__text:focus {
		box-shadow: inset 0 0 8px #d04a8b;
	}

	select.input__text:focus {
		border-color: #d04a8b;
		color: #d04a8b;
	}

select.input__text {
	margin-right: 0;
}

.input_medium .input__text {
	font-size: 14px;
	line-height: 27px;
	height: 27px;
}

.input_textarea .input__text {
    overflow:auto;
    resize: vertical;
}
.input__radio, .input__checkbox {
    font-size: 75%;
    position: relative;
    top: 0.25em;
}

.input_big .input__text {
	height: 40px;

	font-size: 24px;
	line-height: 40px;

	padding-left: 10px; padding-right: 10px;
}

.submit-wrapper {
	position: relative;
	cursor: pointer;
}
	.submit-wrapper > input {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;

		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;

		cursor: pointer;
	}

/* BLOCKS */
.logo {
	float: left;
	width: 211px;
	height: 37px;

	background: url(../i/logo.png) no-repeat;
}	

.auth {
	position: relative;
	float: left;
	padding-left: 1.579%;
	font-size: 12px;
	line-height: 12px;

	margin: -15px 0 0 0;
	width: 150px;
	height: 65px;
	z-index: 20;
}
	.auth .close {
		display: none;
	}
		.auth.expanded .close {
			display: block;
		}	
	.auth .close {
		position: absolute;
		right: 0; top: 0;
		width: 20px; height: 20px;
		font-size: 16px;
		color: #F3B922;
		line-height: 20px; text-align: center;
		text-shadow: 0 1px 2px #f0f4f4;
	}
	.auth .inner {
		padding: 15px;
		position: absolute;
		left: 1.579%; top: 0;

		z-index: 30;
	}
	.auth.expanded .inner {		
		width: 180px;

		background: #d7dde1;
		background-image: linear-gradient(bottom, rgb(215,221,225) 0%, rgb(255,255,255) 100%);
		background-image: -o-linear-gradient(bottom, rgb(215,221,225) 0%%, rgb(255,255,255) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(215,221,225) 0%, rgb(255,255,255) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(215,221,225) 0%, rgb(255,255,255) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(215,221,225) 0%, rgb(255,255,255) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(215,221,225)),
			color-stop(1, rgb(255,255,255))
		);

		box-shadow: 0 1px 1px gray;
		border-radius: 3px;
	}
	.auth .js-form { display: none; }

	.auth .profile-form {
		padding: 12px 0 0 0;
	}
		.auth .profile-form__line {
			margin: 12px 0;
		}

	.auth__reg,
	.auth__enter {
		display: inline-block;
		padding: 0 10px;
	}
	.auth__reg {
		color: #a03366;
		margin-left: -10px;

		border-right: 1px dotted #a8abac;
	}
	.auth__enter {
		color: #157954;
		margin-left: -4px;
	}
	.auth__remind {
		display: block;
		padding-top: 6px;
	}
		.auth__remind .link {
			color: #363534;
		}

.header-user-info {
	margin: 0 240px 0 220px;
	text-align: center;
}
	.header-user-info .dib {
		display: inline-block;
		vertical-align: top;
		margin-left: 8%;
		text-align: left;
	}
		.header-user-info .dib:first-child {
			margin-left: 0;
		}
	.header-user-info .statistics li {
		margin-top: 5px;
	}
		.header-user-info .statistics li:first-child {
			margin-top: 0;
		}
	.header-user-info .statistics .user-menu__messages {
		font-size: 11px;
		padding-top: 0; padding-bottom: 0;
	}
	.header-user-info .balance-info .value {
		color: #953364;
		font-weight: bold;
	}
		.header-user-info .balance-info p {
			margin-top: 5px;
		}
			.header-user-info .balance-info p:first-child {
				margin-top: 0;
			}
	.header-user-info .avatar-wrapper {
		max-width: 80px;
		padding-top: 0;
		line-height: 15px;
	}

.promo-wrapper {
	position:relative;
	background: white url(../i/promo-block-bg.jpg) left bottom repeat-x;
	padding: 20px 20px 29px 20px;
	margin-top: -21px; margin-bottom: 21px;
	border-radius: 0 0 6px 6px;
}
	.promo-wrapper h1 {
		color: #dc7b09;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 10px;
	}
	.promo-wrapper .img-wrapper {
		position:relative;
		overflow:hidden;
		width: 100%;
		height: 118px;
		
		margin: 8px 0;
	}
		.promo-wrapper .img-wrapper > img {
			position:absolute;
			left: 50%;
			margin-left: -191px;
			vertical-align: bottom;
		}
	.promo-wrapper .promo-list {
		padding-bottom: 10px;
	}	
	.promo-wrapper .promo-list > li {
		display: inline-block;
		vertical-align: top;
		width: 29%;
		margin-left: 5%;
	}	
		.promo-wrapper .promo-list > li:first-child {
			margin-left: 0;
		} 
		.promo-wrapper .promo-list p.sub-header {
			color: #ce4686;
			font-size: 18px;
			line-height: 21px;
		}
		.promo-wrapper .promo-list p {
			margin: 5px 0;
		}
	.promo-wrapper .more-link {
		position: absolute;
		left: 68%; bottom: 0;
		line-height: 29px;
		
		font-size: 18px;
		color: #62542f;
		text-shadow: 0 1px 1px #ebbe6f;
	}	

.sochial {
	float: right;
	margin-top: -3px;
	padding-right: 4%;
}	
	.sochial__list {
		display: inline-block;
		font-size: 0;
		vertical-align: middle;
		padding: 0 10px;
	}
	.sochial__head {
		display: inline-block;
		line-height: 40px;

		text-transform: uppercase;
	}
	.sochial__item {
		display: inline-block;
		vertical-align: top;
		padding: 0 4px;
		
		height: 40px;
	}
		.sochial__ico {
			display: block;
			width: 44px;
			height: 40px;
			background: url(../i/sochial-sprite.png) no-repeat;
		}
		.sochial__ico_fb {
			background-position: 0 0;
		}
		.sochial__ico_tw {
			background-position: 0 -40px;
		}
		.sochial__ico_vk {
			background-position: 0 -80px;
		}

.buy-button {
	display: inline-block;
	height: 28px; width: 71px;
	padding: 5px 5px 5px 118px;

	color: #434855;
	font-size: 14px;
	line-height: 14px;

	background: url(../i/luito-link-bg.png) no-repeat;
}
	.page__h .buy-button {
		float: right;
		margin-right: 24px;
	}

.promo-link {
	position: absolute;
	left: 0; top: 50%;
	margin-top: -7px;
	width: 14px; height: 14px;
	background: url(../i/ico-sprite.png) 0 -622px no-repeat;

	text-indent: -9999px;
}
	.promo-link:hover {
		background-position: -14px -622px;
	}
	.promo-link.expanded {
		background-position: 0 -638px;
	}
	.promo-link.expanded:hover {
		background-position: -14px -638px;
	}



.main-nav {
	margin-left: -23px;
	height: 43px;
}
.main-nav_index {
	margin-left: 23px;
}
	.main-nav__holder {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 7px; height: 28px;
		margin-left: -4px;
	}
		.main-nav__holder:first-child {
			margin-left: 0;
		}
		.main-nav__holder.expanded,
		.main-nav__holder_active {
			height: 45px;
			line-height: 47px;
			position: relative; top: -8px;

			border-radius: 3px;
			box-shadow: 0 1px 2px #5d5d5d;

			background: rgb(224,224,224);
			background-image: linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
			background-image: -o-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(224,224,224)),
				color-stop(1, rgb(255,255,255))
			)
		}
		.main-nav__holder_active > .main-nav__item,
		.main-nav__holder.expanded > .main-nav__item {
			color: #c2306f;
			text-shadow: 0 1px 1px white; 
		}
	.main-nav__item {
		display: inline-block;
		padding: 3px 17px 5px 17px;
		
		color: white;
		font-size: 18px;
		line-height: 21px;
		text-shadow: 0 1px 1px #5d5d5d;
	}

.head-search { position: relative; }
.head-search.expanded form { display: block; }
.head-search.expanded {
	border-radius: 3px 3px 0 0;
	padding-bottom: 7px;
	
	background: #bbc3ca;
	background: -moz-linear-gradient(#d7dde1, #bbc3ca);
	background: -ms-linear-gradient(#d7dde1, #bbc3ca);
	background: -o-linear-gradient(#d7dde1, #bbc3ca);
	background: -webkit-linear-gradient(#d7dde1, #bbc3ca);
}
.head-search form {
	display: none;
	position: absolute;
	right: 0; top: 35px;

	width: 220px;
	padding: 10px;

	background: #bbc3ca;
	background: -moz-linear-gradient(#bbc3ca, #d7dde1);
	background: -ms-linear-gradient(#bbc3ca, #d7dde1);
	background: -o-linear-gradient(#bbc3ca, #d7dde1);
	background: -webkit-linear-gradient(#bbc3ca, #d7dde1);

	border-radius: 0 0 3px 3px;
	z-index: 5;

	box-shadow: 0 1px 1px gray;
}
.head-search .search-wrapper .input {
	margin-right: 55px;
}

.js-menu .main-nav__holder .sub-menu { display: none; }
.js-menu .main-nav__holder.expanded .sub-menu { display: block; }

.main-nav__holder.expanded {
	padding-bottom: 0;
}

.main-nav__holder .sub-menu {
	position: absolute;
	left: 0; top: 50px;

	z-index: 5;
}

.sub-menu {
	padding: 0 24px;
	background: rgb(224,224,224);
	width: 100px;
	border: 0 1px 1px 1px solid gray;
	box-shadow: 0 1px 1px gray;
}
.sub-menu > li {
	position: relative;
	padding-left: 14px;
	margin: 18px 0;

	font-size: 12px;
	line-height: 16px;
	color: #333;
}
.sub-menu > li:before,
.sub-menu > li > i {
	content: '►';
	position: absolute;
	left:0; top: 0;
	font-size: 8px;
}
	.sub-menu > li a {
		color: #333;
	}
	.sub-menu > li:hover a,
	.sub-menu > li:hover {
		color: #d86b9e;
	}

.arrow-box { 
	position: relative; 
	background: rgb(224,224,224); 
	background-image: linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(224,224,224)),
		color-stop(1, rgb(255,255,255))
	)
	border: 1px solid rgb(224,224,224); 
	box-shadow: 0 0 2px #333;
	border-radius: 3px;
} 
.arrow-box:after {
	content: '';
	position: absolute; 
	width: 12px; height: 8px;
	top: 100%; 
	left: 50%; 
	margin-left: -6px; 
	background: url(../i/ico-sprite.png) 0 -240px no-repeat;
} 
.arrow-box_filter {
	line-height: 27px;
}


.menu-button {
	display: inline-block;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	font-size: 14px;

	color: black;
}
	.menu-button__wrapper {
		height: 44px;
		width: 240px;
	}

.menu-button__wrapper .menu-button {
	margin: 8px 0 0 0;
}	

.tabs {
	border-radius: 4px 4px 0 0;
	background: #f7ce27; 
	background: -moz-linear-gradient(#f7ce27, #f0a617);
	background: -ms-linear-gradient(#f7ce27, #f0a617);
	background: -o-linear-gradient(#f7ce27, #f0a617);
	background: -webkit-linear-gradient(#f7ce27, #f0a617);
	height: 38px;
}
	.tabs__item {
		display: inline-block;
		padding: 12px 20px;
		height: 14px;
		margin: 0 3px;
		
		color:#a22f65;
		font-size: 14px;
		line-height: 14px;
	}
		.tabs__item:first-child {
			margin-left: 0;
		}

.tabs__item.active {
	background: white;
	border-radius: 4px 4px 0 0;

	color: #363534;
	cursor: default;
}
	.tabs__item.active .link__underline {
		text-decoration: none;
	}

.back {
	min-height: 22px;
	padding: 5px 10px;
	background: #f0f4f4;
}
	.back_pink {
		background: #ffeef8;
	}

.breadcrumbs {
	display: inline-block;
	font-size: 0;
}
	.breadcrumbs__item {
		display: inline-block;
		font-size: 12px;
		margin-right: 4px;
	}
	.breadcrumbs__item .link {
		color: #a22f65;
	}
		.breadcrumbs__item:before,
		.breadcrumbs__item > i {
			content: '→';
			color: #363534;
			margin-right: 8px;
		}
		.breadcrumbs__item:first-child:before {
			content: '';
		}

.date {
	color: #363534;
	font-size: 11px;
	line-height: 22px;
	white-space: nowrap;
}
	.date_avatar {
		display: block;
	}

.post {
	padding: 20px;
	background: white;

	margin-bottom: 21px;
	border-radius: 4px;
}
	
	.post_tabs-below {
		border-radius: 0 0 4px 4px;
	}

	.post__date {
		float: right;

		color: #363534;
		font-size: 11px;
		line-height: 22px;
	}
	.post__h {
		font-size: 24px;
		line-height: 24px;

		padding: 15px 0 8px 0;
	}	
		.post__h_articles,
		.post__h_articles a {
			font-size: 18px;
			line-height: 24px;

			margin-bottom: 25px; margin-right: 320px;
		}		
	.post__callout {
		padding-bottom: 21px;
	}

.post .h__h2 {
	margin-bottom: 24px;
}

.author {
	display: inline-block;
	color: #df8a25;
}
	.author_post {
		line-height: 30px;
	}
	.author_comments {
		line-height: 14px;
	}

	.post__preview {}
		.post__preview > img {
			float: left;
			margin: 0 20px 20px 0;
		}
		.post__preview > p {
			padding-bottom: 18px;
		}
		.post__preview .link__underline {
			color: #a03366;
		}

	.post__detail {}
		.post__detail p {
			margin-top: 16px;
		}
			.post__detail p:first-child {
				margin-top: 0;
			}
		.post__detail a {
			color: #A03366;
			text-decoration: underline;
		}
			.post__detail a.link {
				text-decoration: none;
				color: #363534;
			}
		.post__detail a:hover {
			text-decoration: none;
		}
		.post__detail h2 {
			color: #979797;
			font-size: 18px;
			margin: 36px 0 18px 0;
		}

	.post-info {
		font-size: 0;
		padding-top: 5px;
	}
		.post-info__item {
			display: inline-block;
			font-size: 12px;
			line-height: 1.0em;

			border-left: 1px dotted #363534;
			padding: 0 8px 0 6px;
		}
			.post-info__item:first-child {
				border: 0;
			}		

	.post-info_post {
		float: right;
	}		
	.post-info_comments-list {
		padding-top: 5px;
	}
		.post-info_comments-list .post-info__item:first-child {
			padding-left: 0;
		}

.photo-snippet__wrapper {
	margin: 24px 0 18px 0;
}
.photo-snippet {
	position: relative;
	padding: 3px;
	border: 1px solid #bdbdbd;
	}
	.photo-snippet > img {
		display: block;
	}

	.photo-snippet__text {
		position: absolute;
		left: 3px; top: 3px; right: 3px;
		padding: 0.2em 24px 0.5em 6px;


		font-size: 10px; line-height: 14px;
		background: rgb(255,255,255);
		background: rgba(255,255,255,0.5);
	}
		.photo-snippet p {
			margin-top: 0;
		}
	.photo-snippet__trigger {
		position: absolute;
		right: 0; top: 0;
		width: 24px; height: 24px;

		color: #a03366;
		background: white;
		font-size: 18px; line-height: 24px;
		text-align: center;
	}
		.photo-snippet a.photo-snippet__trigger {
			text-decoration: none;
		}
	.photo-snippet__callout {
		color: #2e343e;
		font-style: italic;
		padding: 5px 30px;
	}

.tags {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	padding: 0 5px;

	max-width: 70%;
}
	.tags__item {
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
	}
		.tags__item:after,
		.tags__item > i {
			content: '•';
			margin: 0 4px;
			font-size: 9px;
		}
			.tags__item:last-child:after {
				content: '';
				margin: 0;
			} 

	.tags__h {
		vertical-align: top;
		line-height: 18px;
	}

.tags .link {
	color: #a03366;
}


.counter {
	position: relative;
	height: 30px;
	border: 1px solid #bdbdbd;
	line-height:  27px;
	font-size: 11px;
	color: #363534;

	text-align: center;
	padding: 0 15px;

	background: #f5f5f5; 
	background: -moz-linear-gradient(#f5f5f5, #e6e6e6);
	background: -ms-linear-gradient(#f5f5f5, #e6e6e6);
	background: -o-linear-gradient(#f5f5f5, #e6e6e6);
	background: -webkit-linear-gradient(#f5f5f5, #e6e6e6);
}
	.counter__button:active {
		background: #e6e6e6; 
		background: -moz-linear-gradient(#e6e6e6, #f5f5f5);
		background: -ms-linear-gradient(#e6e6e6, #f5f5f5);
		background: -o-linear-gradient(#e6e6e6, #f5f5f5);
		background: -webkit-linear-gradient(#e6e6e6, #f5f5f5);	
	}
	.counter__button {
		position: absolute;
		width: 16px; height: 28px;
		font-size: 19px; font-weight: bold;
		line-height: 27px;

		border: 1px solid white;

		text-shadow: 0 0 1px white;
	}
		.counter__button.disabled {
			color: #a3a3a3;
			cursor: default;
		}
			.counter__button.disabled:active {
				background: #f5f5f5; 
				background: -moz-linear-gradient(#f5f5f5, #e6e6e6);
				background: -ms-linear-gradient(#f5f5f5, #e6e6e6);
				background: -o-linear-gradient(#f5f5f5, #e6e6e6);
				background: -webkit-linear-gradient(#f5f5f5, #e6e6e6);
			}
		.counter__button_minus {
			color: #a03366;
			left: 0; top: 0;
			text-indent: -1px;
		}		
		.counter__button_plus {
			color: #4f997e;
			right: 0; top: 0;
		}			
	.counter__text {
		display: inline-block;
		line-height: 28px;
		padding: 0 10px;
		height: 28px;

		border-top: 1px solid white;
		border-bottom: 1px solid white;

		text-shadow: 1px 1px 1px white;
	}

.counter_post {
	float: right;
	margin-right: 2px;
}

.banners {
	margin: 14px 0 28px 0;
}
.banners > img {
	box-shadow: 0 0 2px #363534;
	width: 48%;
}
	.banners__first {
		float: left;
	}
	.banners__last {
		float: right;
	}

.tabs-wrapper > .post {
	margin-top: -18px;
}

.pager {
	text-align: center;
	margin: 20px;
}
	.pager__item {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin: 0 2px;

		border: 1px solid #c9c9c9;
		box-shadow: 0 1px 1px #c9c9c9;
		text-shadow: 0 1px 1px white;

		color: #363534;
		font-size: 12px;
		line-height: 24px;

		background: #f5f5f5; 
		background: -moz-linear-gradient(#f5f5f5, #e6e6e6);
		background: -ms-linear-gradient(#f5f5f5, #e6e6e6);
		background: -o-linear-gradient(#f5f5f5, #e6e6e6);
		background: -webkit-linear-gradient(#f5f5f5, #e6e6e6);
	}
		.pager__item:hover {
			background: #fff;
			background: -moz-linear-gradient(#fff, #fbfbfb);
			background: -ms-linear-gradient(#fff, #fbfbfb);
			background: -o-linear-gradient(#fff, #fbfbfb);
			background: -webkit-linear-gradient(#fff, #fbfbfb);
		}
	.pager__item.current {
		background: #656565;
		box-shadow: inset 0 0 2px #363534;
		color: white;
		text-shadow: 0 1px 1px #363534;
	}	
	.pager__dots {
		display: inline-block;
		margin: 0 8px;
		font-weight: bold;
		text-shadow: 0 1px 1px white;
	}

.side-banner {
	margin: 12px 0;
}
	.side-banner:first-child {
		margin-top: 0;
	}
	.side-banner_border {
		border: 3px solid white;
		box-shadow: 0 1px 2px #363534;
		border-radius: 4px;
	}

.rate {
	padding: 12px 0;
	margin-bottom: 18px;
	border-bottom: 1px dotted #363534;
}
	.rate:first-child {
		padding-top: 0;
	}
	.rate__h {
		display: inline-block;
		color: #363534;
		font-size: 18px;
		text-shadow: 0 1px 1px white;
		padding-bottom: 18px;
	}
	.rate__item {
		padding-bottom: 10px;
	}
	.rate__all {
		color: #a03366;
		font-size: 11px;
		float: right;
	}
	.rate__avatar {
		float: left;
		margin: 0 10px 0 0;
	}
	.rate__author {
		display: inline-block;
		max-width: 180px;
	}
	.rate__author {
		color: #dc7b09;
		font-size: 12px;
		line-height: 16px;
	}
	.rate__author > sup {
		font-size: 11px;
		color: #363534;
		position: relative;
		top: -10px;
	}

.comments {
	font-size: 12px;
}
	.comments__item {
		position: relative;
		padding-right: 50px;
		margin: 14px 0;
	}
	.comments__count {
		position: absolute;
		right: 0; top: 0;
		font-size: 12px;
	}
	.comments__text .link {
		color: #a03366;
	}
	.comments__author {
		display: inline-block;
		margin-right: 8px;
	}
	.comments__date {
		font-size: 11px;
	}

.comments .rate__author {
	margin-top: 0;
}

.comments-post {
	padding: 7px;
}
	.comments-post_sub {
		background: #f0f4f4;
	}

	.comments-post__date {
		font-size: 12px;
		line-height: 1.8em;
	}
	.comments-post__content {
		margin-left: 50px;
	}
	.comments-post__detail > p {
		margin-bottom: 0.8em;
	}	
	.comments-post__content > .group {
		margin-top: -3px;
		margin-bottom: 12px;
	}
	
.preview-list {
	margin: 4px 0;
}
	.preview-list__item {
		display: inline-block;
		vertical-align: top;
		margin: 0 2px 6px 0;
		position: relative;
	}
	.preview-list__item img {
		display: block;
	}
	.preview-list__ico {
		position: absolute;
		right: 2px; bottom: 0;
		width: 15px;
		height: 15px;
		background: url(../i/ico-sprite.png) 0 -75px no-repeat;
	}

.comments_related {
	position: relative;
}
.comments_related .comments__item {
	display: inline-block;
	vertical-align: top;
	width: 20%; margin-left: 5%;
}
	.comments_related .comments__item:first-child {
		margin-left: 0;
	}

.related-posts {
	margin: 32px 0 18px 0;
}
.related-posts__h {
	padding-bottom: 0;
}

.tiles {
	display: block;
	border: 1px solid #bfbfbf;
	position: relative;
	background: white;

	padding: 3px;
}
	.tiles__item {
		display: inline-block;
		vertical-align: top;
		width: 21%;
		text-align: left;
	}
	.tiles__img-wrapper {
		position: relative;
	}
		.tiles__img-wrapper > img {
			display: block;
			width: 100%;
		}
		.tiles__img-wrapper > p {
			background: #eee;
			color: #888;
			text-align: center;
			font-size: 11px;
		}
	.tiles__name {
		display: inline-block;
		margin-bottom: 6px;
		font-size: 14px;
		line-height: 21px;
	}
	.tiles__text {
		padding: 20px;
	}	
	.tiles__testim {
		font-size: 11px;
		color: #888;
	}

.user-menu {
	background: #f0f4f4;
	padding: 20px 20px 0 20px;
	font-size: 0;
	margin-bottom: 20px;
	position: relative;
}
	.user-menu__item {
		display: inline-block;
		vertical-align: top;
		width: 32%;
		font-size: 14px;
		padding: 3px 0 23px 0.5%;
	}
	.user-menu__articles {
		display: inline-block;
		padding: 2px 3px; margin-left: 10px;
		color: #807e7f;
		font-size: 12px;
		font-style: italic;
		border: 1px dashed #cecece;
		border-radius: 6px;
	}	
	.user-menu__messages {
		display: inline-block;
		background: #fed431;
		background: -moz-linear-gradient(#fed431, #d58108);
		background: -ms-linear-gradient(#fed431, #d58108);
		background: -o-linear-gradient(#fed431, #d58108);
		background: -webkit-linear-gradient(#fed431, #d58108);

		color: white;
		font-size: 12px;
		font-weight: bold;
		padding: 2px 3px;
		margin-left: 10px;
		box-shadow: 0 0 1px gray;
		border-radius: 3px;
	}

	.user-menu_vertical {
		margin-bottom: 0;
	}
	.user-menu_vertical .user-menu__item {
		display: block;
		width: auto;
	}
	.user-menu_vertical .ico_profile:before {
		margin-right: 17px;
	}

.user-menu .count {
	color: #a7a7a7;
	margin-left: 10px;
}

.inner-head {
	color: #797979;
	font-size: 30px;

	line-height: 34px;

	padding: 10px 0 20px 0;
}
	.inner-head__count {
		display: inline-block;
		margin-left: 10px;
		color: #c5c4c4;
	}

.inner-head_sub {
	font-size: 24px;
	line-height: 28px;
}

.comments-list {
	padding: 5px 0;
}
	.comments-list__item {
		position: relative;
		padding: 10px 0 20px 0;
		margin-top: 10px;
	}
		.comments-list__item:before {
			content: '';
			position: absolute;
			top: -10px;
			width: 100%;
			border-bottom: 1px dashed #c5c4c4;
		}
		.comments-list__item:first-child:before {
			border-bottom: 0;
		}
	.comments-list__content-wrapper {
		float: right;
		width: 100%;
	}
	.comments-list__content {
		margin-left: 155px;
	}
	.comments-list__meta {
		float: right;
		width: 126px;
		margin-right: -140px;
		background: #f0f4f4;
		padding: 7px;
	}
	.comments-list__vote-wrapper {
		position: relative;
		padding-bottom: 16px;
	}
	.comments-list__vote {
		position: absolute;
		right: 0; bottom: 0;
		height: 16px;

		font-size: 11px;
	}
	.comments-list__content > p {
		margin-bottom: 6px;
	}
	.comments-list__control {
		padding-top: 6px;
	}
	.comments-list__dot {
		position: relative;
		top: 0.4em;
		font-weight: bold;
		font-size: 16px;
		margin: 0 2px;
	}

.filter {
	position: relative;
}
	.filter__item {
		display: inline-block;
		width: 48%;
		height: 27px;
		line-height: 27px;
		text-align: center;
	}

.filter_rate {
	padding-bottom: 10px;
}
.filter_comments {
	margin: 8px 0 20px 0;
	width: 220px;
}
.filter_subscr {
	margin: 8px 0 20px 0;
}
	.filter_subscr .filter__item {
		width: auto;
		padding-left: 10px; padding-right: 10px;

		margin-right: 5px;
	}

.articles-list {
	padding: 25px 0 5px 0;
}

.user-actions {
	margin: 25px 0;
}
	.user-actions__item {
		display: inline-block;
		vertical-align: middle;
	}
		.user-actions__item_status {
			width: 180px;
			padding: 0 20px;
		}
		.user-actions__item.button.fr {
			margin-left: 0;
		}
	.user-actions__ok {
		color: #45840d;
		font-size: 12px;
	}
	.user-actions__cancel {
		color: #e00000;
		font-size: 12px;
	}
	.user-actions__waiting {
		color: #006498;
		font-size: 12px;
	}
.user-actions_articles {
	width: 310px;
}

.rates-info {
	margin-bottom:  30px;
}
	.rates-info__rate {
		width: 35%;
		float: left;
	}
	.rates-info__cache {
		margin-left: 35%;
	}

.rates-info .score {
	height: 38px;
}

.score {
	padding: 5px 5px 5px 21px;	
	
	line-height: 39px;
	color: #797979;
}
	.score_rate {
		background: #f6f0df;
	}
	.score_cache {
		background: #ffeef8;
	}
	.score dt {
		font-size: 24px;
		float: left;
	}
	.score dd {
		display: inline-block;

		font-size: 30px;
	}
		.score_rate .score__count {
			color: #dc7b09;
		}
		.score_cache .score__count {
			color: #953364;
			margin-right: 10px;
		}

	.score_rate dd {
		margin-left: 10%;
	}
	.score_cache dd {
		margin-left: 5%;
	}

	.score__count.ico_rates:before {
		margin-top: -6px;
	}	

	.score_profile-form {
		padding-left: 0;
		margin-top: 15px;
	}
		.score_profile-form .score__count {
			color: #dc7b09;
		}

	.score_authors {
		padding-left: 0;
		margin-top: 24px;
	}
		.score_authors .score__count {
			color: #dc7b09;
			margin-left: 15px;
		}

	.score_chat {
		margin-top: 12px;
		line-height: 1.5em;
	}	

.sub-head {
	padding: 10px 0;
	font-size: 24px;
	line-height: 0.9em;
	color: #797979;
	margin-top: 30px;
}

.history-table {
	color: #363c49;
	font-size: 12px;
	line-height: 16px;

	width: 100%;
}
	.history-table thead td {
		padding: 8px;
		background: #f7f1e2;

		color: #797979;
	}
	.history-table tbody td {
		padding: 15px 8px;
	}
	.history-table__count {
		font-size: 18px;
		line-height: 16px;

		text-align: right;
	}

.history-table tbody tr:hover {
	background: #f7f2e6;
}
.history-table tbody .even {
	background: #f7f9f9;
}

.rules-text {
	overflow: hidden;
	margin: 10px 0;
}
	.rules-text__item {
		width: 45%;
		padding-right: 5%;
	}

.info-baloon {
	width: 330px;
	padding: 16px 12px;

	border: 1px solid #cbd3d8;
	border-radius: 4px;

	box-shadow: 0 0 8px gray;

	background-image: linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(255,255,255) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(224,224,224)),
		color-stop(1, rgb(255,255,255))
	)
}

.profile-form {
	margin-top: 12px;
}
	.profile-form__main-wrapper {
		float: left;
		width: 100%;
	}
	.profile-form__main {
		margin: 0 25% 0 200px;
		padding-right: 40px;
	}
	.profile-form__avatar {
		float: left;
		width: 160px;
		padding-right: 40px;
		margin-left: -100%;
	}
	.profile-form__about {
		float: left;
		width: 25%;
		margin-left: -25%;
	}
		.profile-form__about_fix-240 {
			width: 219px;
			margin-left: -219px;
		}
	.profile-form__cache {
		color: #797979;
		font-size: 18px;
	}
		.profile-form__cache > span {
			color: #963364;
		}
	.profile-form__line {
		margin: 18px 0;
		padding-top: 20px;
	}
		.profile-form__line:first-child {
			padding-top: 0;
		}
	.profile-form__callout-line {
		margin-top: 10px;
	}
	.profile-form__info-button {
		display: inline-block;
		padding: 2px 4px;
		margin-left: 15px;

		vertical-align: baseline;
	}
		.profile-form__info-button_bordered {
			border: 1px solid #c0c0c0;
			border-radius: 3px;
		}
	.profile-form__info-button.ico_ok {
		color: #45840d;
	}	
	.profile-form__info-button.ico_cancel {
		color: #e00000;
	}
		.profile-form__info-button.ico_cancel:before {
			margin-right: 6px;
		}
	.profile-form__file-wrapper {
		margin-right: 50%;
		overflow: hidden;
	}
	.profile-form__col {
		width: 50%;
		float: left;
	}
		.profile-form__line .profile-form__col:first-child {
			width: 45%;
			padding-right: 5%;
		}
	.profile-form__about .input_textarea .input__text {
		height: 250px;
	}
	.profile-form__submit-wrapper {
		margin-top: 10px;
	}
	.profile-form__subscr {
		color: #797979;
		font-size: 18px;

		margin-top: 10px;
	}

.profile-form_chat {
	margin: 25px 0;
}
	.profile-form_chat .profile-form__avatar {
		width: 80px;
	}
	.profile-form_chat .profile-form__about {
		width: 40%;
		margin-left: -40%;
	}
	.profile-form_chat .profile-form__main {
		margin: 0 40% 0 120px;
	}

.profile-form_chat h2 {
	font-size: 24px;
	line-height: 1.0em;
	margin: 8px 0 12px 0;
}

.upload-wrapper {
	height: 225px;

	background: #f0f0f4;
	text-align: center;
}
.upload-wrapper > p {
	color: #c8c8c8;
	font-size: 24px;
	line-height: 28px;

	padding: 30px 40px 40px 40px;
}
.profile-form__upload-wrapper {
	width: 20%;
}
.profile-form__preview-wrapper {
	margin-left: 22.5%;
}

.profile-form__preview-wrapper .input_textarea .input__text {
	height: 225px;
}

.upload-baloon {
	border: 1px solid #cbd3d8;
	border-radius: 3px;

	background: #f7f9f9 url(../i/upload-baloon-bg.jpg) left top repeat-x;
	width: 455px;

	box-shadow: 0 0 18px #d7d7d7;
}
	.upload-baloon__inner {
		padding: 8px 12px;
	}
	.upload-baloon header {
		height: 28px;
	}
		.upload-baloon header .link_dashed {
			font-size: 14px;
			margin-right: 24px;
		}

.upload-baloon section {
	padding: 20px 0 8px 0;
}

.upload-baloon .file-wrapper {
	width: 170px;
	height: 40px;

	position: relative;
	box-shadow: 0 0 1px black;

	text-align: center;
}
	.upload-baloon .file-wrapper span {
		color: #434855;
		font-size: 24px;
		line-height: 40px;
	}
	.upload-baloon .file-wrapper > input {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;

		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		z-index: 5;
		cursor: pointer;
	}
.upload-baloon .callout-text {
	color: #797979;
	font-size: 11px;
	line-height: 20px;
}
.upload-baloon .search-wrapper {
	position: relative;
}
	.upload-baloon .search-wrapper .input__text {
		font-size: 15px;
		line-height: 25px;
	}
	.upload-baloon .search-wrapper .submit-wrapper {
		position: absolute;
		right: 0; top: 0;
	}
.upload-baloon .images-wrapper {
	width: 170px;
}
.upload-baloon .add-button-wrapper {
	margin-left: 170px;
	height: 150px;

	line-height: 150px; text-align: center;
}
	.upload-baloon .add-button-wrapper .button {
		height: 40px;
		width: 160px;
	}
	.upload-baloon .add-button-wrapper .button > span {
		font-size: 24px;
		line-height: 40px;
	}


.pager-count {
	position: relative;
	padding: 0 65px;

	text-align: center;
	line-height: 18px;
}

	.pager-count__prev {
		position: absolute;
		left: 0; top: 0;
	} 
	.pager-count__next {
		position: absolute;
		right: 0; top: 0;
	}
	.pager-count__text {
		font-size: 12px;
		font-weight: bold;
	}

.img-wrapper {
	display: inline-block;
	box-shadow: 0 0 1px gray;
}
	.img-wrapper > img {
		display: block;
	}

.label{ position: relative; }
	.label > span {
		display: inline-block;
		padding-bottom: 5px;

		color: #797979;
		font-size: 12px;
		line-height: 12px;
	}
	.label__fr {
		position: absolute;
		right: 0;
		top: 3px;
	}
.label_under {
	display: block;
	margin-top: -21px;
}

.search-wrapper {
	overflow: hidden;
}
	.search-wrapper .input {
		margin-right: 70px;
	}
	.search-wrapper input[type="submit"] {
		width: 50px;
	}
.search-wrapper_head {
	float: right;
	width: 50%;

	margin-top: 15px;
	margin-left: 15px;
}
 
.messages {}
	.messages > li {
		margin-top: 25px;
	}
		.messages > li:first-child {
			margin-top: 0;
		}
	.messages > li:hover,
	.messages > li:hover .back {
		background: #f7f1e1;
	}	
	.messages > li:hover .status-tag {
		color: #363c49;
		background: white;
	}
	.messages__me {
		color: #797979;
		font-size: 18px;
		line-height: 33px;

		margin-right: 6px;
	}
	.messages__date {
		margin-top: 5px;
	}
	.messages__text {
		padding: 10px;
	}
	.messages__name {
		font-size: 14px;
	}

.messages_chat {
	margin: 55px 0 0 0;
}	

.author-comments {}
	.author-comments .for {
		color: #585d65;
		margin-right: 8px;
	}
	.author-comments .extra {
		color: #585d65;
		margin-left: 6px;
		font-size: 11px;
	}
	.author-comments p {
		margin-top: 12px;
	}
	.author-comments li {
		margin-top: 28px;
	}
	.author-comments li:first-child {
		margin-top: 0;
	}

.avatar-wrapper {
	display: inline-block;
	position: relative;
	padding: 7px 0 0 47px;

	min-height: 33px;

	margin-right: 15px;
	vertical-align: baseline;
}
	.avatar-wrapper > img {
		position: absolute;
		left: 0; top: 0;
	}

	.avatar-wrapper_date {
		padding-top: 0;
	}


.sup-info {
	color: #e66dac;
	position: relative;
	top: -0.4em;
	left: 4px;
	font-size: 11px;
}

.status-tag {
	display: inline-block;
	padding: 2px 5px;

	font-size: 11px;
	color: white;
	background: #e66dac;

	border-radius: 3px;
	vertical-align: baseline;

	margin: 0 5px;
}

.rate-status {
	display: inline-block;
	background: #f6f0df;
	width: 90px;

	color: #df8a25;
	font-size: 30px;
	line-height: 40px;
	height: 40px;

	text-align: center;
}
	.rate-status_new {
		font-size: 14px;
		line-height: 16px;

		position: relative;
	}
		.rate-status_new > i {
			position: absolute;
			left: 5px;
			top: 50%; margin-top: -12px;

			width: 26px; height: 25px;
			background: url(../i/ico-sprite.png) 0 -508px no-repeat;
		}
		.rate-status_new > span {
			display: inline-block;
			padding-left: 30px;
			padding-top: 5px;
		}

.is-unsubscribed .rate-status {
	background: #d3d9dd;
	color: #797979;

	font-size: 14px;
	line-height: 16px;
	text-align: left;
}
	.is-unsubscribed .rate-status > span {
		display: inline-block;
		padding: 5px;
	}
.is-unsubscribed .post__h .link.link__underline {
	color: #9a9a9a;
	border-bottom-width: 0;
}
 
.subscr-list__status-wrapper {
	width: 220px; height: 40px;
	overflow: hidden;
}
.subscr-list__button {
	position: relative;
	top: 7px;
}

.back-link {
	margin-top: 18px;
}

.extra {
	color: #a7a7a7;
	font-size: 12px;
}
	.profile-form__main .extra {
		margin-top: 7px;
	}

.buttons-wrapper .button {
	margin-right: 15px;
}

.chat-form {
	margin-bottom: 15px;
}
	.chat-form .textarea-wrapper {
		background: #e9e9e9;
		margin-left: 55px;
	}
		.chat-form .chat-buttons-wrapper {
			background: #f0f4f4;
			padding: 10px;
		}
		.chat-form .textarea-wrapper textarea {
			background: transparent;
			height: 80px;
			font: normal 14px/21px 'Arial', sans-serif;
		}

.copyright {
	float: left;
	width: 380px;
	font-size: 11px;
	line-height: 13px;

	text-shadow: 1px 1px 1px white;
}	
.copyright__h {
	display: block;
	font-weight: bold;
	padding-bottom: 4px;
}
.copyright__link {
	color: #a03366;
}

.foot-nav {
	float: right;
	padding-top: 12px;
	text-align: right;
}
	.foot-nav__item {
		position: relative;
		display: inline-block;

		padding-left: 14px;

		color: #a03366;
		font-size: 11px;
		margin-left: -4px;
	}
		.foot-nav__item:first-child {
			margin-left: 0;
			padding-right: 14px;
		}
	.foot-nav__item:after,
	.foot-nav__item > i {
		content: '';
		position: absolute;
		left: 0; top: 50%;
		height: 8px;
		margin-top: -4px;
		border: 1px solid #818284;
	}
		.foot-nav__item:first-child:after {
			border:0;
		}	
